[2014-10-29 17:26] Bjwebb opened #1 "Handle simple arrays differently"
Where properties are encountered that either contain:

(a) a simple array of values - e.g: { alternativeIdentifiers: [‘abc123’,’xyz434’](b) a simple array of simply arrays - e.g. { location: [ [54,3],[45,22] ] }

Then rather than create a sub-table, these values should be concatenated in in a cell, separated by ‘;’ generating cells containing:

(a) abc213; xyz434
(b) 45,3; 45,22

[2014-10-29 17:27] Bjwebb opened #2 "Subtables should include a column for the ID of their parent"

[2014-10-29 17:28] Bjwebb opened #3 "Add commandline argument support"
(Probably using argparse)

[2014-10-29 17:29] Bjwebb opened #4 "Structure the code as a python package"

[2014-10-29 17:29] Bjwebb opened #5 "Add unit tests"
I think it's probably best to use py.test for this, since this is what other code in this organisation is using.

[2014-10-29 17:35] Bjwebb opened #6 "Add requirements.txt"

[2014-10-31 12:32] Bjwebb opened #7 "Set up tests with travis-ci"

[2014-10-31 12:47] #6 closed, assigned to Bjwebb

[2014-10-31 13:06] Bjwebb opened #8 "Add tests for unicode support"
Especially wrt to python 2's non-unicode csv module - we might need to use unicodecsv for python 2

[2014-10-31 13:42] Bjwebb opened #9 "python2 bug"
`output.py` needs to be updated to be python2 compatible

[code]

[2014-10-31 14:47] #9 closed, assigned to Bjwebb

[2014-10-31 15:10] Bjwebb opened #10 "Sheet names should be based on the reference, not the context"
E.g. "item" instead of "itemsAwarded"

[2014-10-31 15:12] Bjwebb opened #11 "Convert code to use new ID format"
This will be an `id` property instead of a `somethingID` property.

[2014-10-31 15:16] Bjwebb opened #12 "Ids should always be at the start of the sheet"
(See attatchments sheet for an example where this is wrong currently)

[2014-10-31 15:21] #7 closed, assigned to nobody

[2014-10-31 16:03] #10 closed, assigned to Bjwebb

[2014-10-31 16:04] #2 closed, assigned to Bjwebb

[2014-11-03 14:18] practicalparticipation opened #13 "Check whether we also need release.id in sub-tables"
A data package of OCDS releases could include multiple sets of statements about a contracting process made at different points in time.

These would each have a unique release.id

In order to compile from a spreadsheet format into JSON structure we would need to match both the ocid and the release.id of a JSON object before merging properties into it.

This seems to require that release.id is also

[2014-11-04 11:54] #4 closed, assigned to Bjwebb

[2014-11-04 13:14] #12 closed, assigned to Bjwebb

[2014-11-04 15:31] #11 closed, assigned to Bjwebb

[2014-11-04 19:47] Bjwebb opened #16 "Add unflatten subcommand to flatten-ocds cli"

[2014-11-04 19:47] Bjwebb opened #17 "Add XLSX input"
(To https://github.com/open-contracting/flattening-ocds/blob/master/flattening_ocds/input.py)

[2014-11-04 19:52] Bjwebb opened #18 "Unflatten subsheets properly"
I've added a [basic unflatten function](https://github.com/open-contracting/flattening-ocds/blob/c96f66b7badd70fa7032801593dc59a9c7198e77/flattening_ocds/input.py#L55). Currently this handles the main sheet correctly, but sub sheets are not yet added to the correct places.

[2014-11-06 15:46] practicalparticipation opened #19 "Switch separator from . to /"
How easy would it be to switch to using / as the separator rather than .?

I've been looking at other tooling, and / fits better with the [JSON Path](http://tools.ietf.org/html/rfc6901) RFC.

Not a priority though if complex.

[2014-11-07 21:01] Bjwebb opened #22 "Annotate extra information to column headers to help with conversion"
- [x] The actual JSON key for this subsheet, on IDs
- [x] Types (e.g. number, boolean)

[2014-11-07 21:48] Bjwebb opened #23 "Make error messages more descriptive"
Currently there are a lot of ValueErrors, with no further information.

We might also want to replace some of these with warnings, and allow a faulty conversion to take place.

[2014-11-08 16:56] Bjwebb opened #24 "Tests should write into tmpdir, not current working directory"
https://github.com/open-contracting/flattening-ocds/blob/master/flattening_ocds/tests/test_output.py

[2014-11-08 17:26] Bjwebb opened #25 "Empty number fields currently cause conversion to fail"
Relates to https://github.com/open-contracting/flattening-ocds/issues/23

[2014-11-08 17:42] #19 closed, assigned to Bjwebb

[2014-11-10 11:44] #18 closed, assigned to Bjwebb

[2014-11-10 11:44] #13 closed, assigned to Bjwebb

[2014-11-10 12:00] Bjwebb opened #26 "Currently no support for using a separate sheet for simple arrays"
This may be desirable if the array/items are long, or one of the items contains a `;` or `,` character.

(Split out from https://github.com/open-contracting/flattening-ocds/issues/1)

[2014-11-10 12:01] #1 closed, assigned to Bjwebb

[2014-11-10 12:51] #24 closed, assigned to Bjwebb

[2014-11-10 13:04] #16 closed, assigned to Bjwebb

[2014-11-10 13:21] Bjwebb opened #27 "Naming inconsistencies between Output and Intput"
CSVInput vs CSVDirectoryOutput
XLSXInput vs XlsxOutput

[2014-11-10 13:22] Bjwebb opened #28 "Add support for extra input/output formats"
e.g. xls (pre 2007 Excel) or ods (Open Document Spreadshet)

[2014-11-10 13:34] Bjwebb opened #29 "Use openpyxl for output as well as input to reduce dependencies"
(ie. to remove dependency on xlsxwriter).

[2014-11-10 14:12] #17 closed, assigned to Bjwebb

[2014-11-10 14:15] Bjwebb opened #30 "Show list of formats in commandline help text"
These should be read from the keys of the FORMATS dictionaries, and supplied to argparse via https://docs.python.org/3/library/argparse.html#choices

[2014-11-10 14:15] #3 closed, assigned to Bjwebb

[2014-11-10 14:18] #27 closed, assigned to Bjwebb

[2014-11-10 17:52] #8 closed, assigned to Bjwebb

[2014-11-10 18:18] #22 closed, assigned to Bjwebb

[2014-11-10 18:19] Bjwebb opened #31 "Add more information to the README"
- [ ] Description of what the column headers look like in the template (general form and what information is annotated etc.)
- [x] Add note about CSV encodings and Python 2

[2014-11-10 18:49] #25 closed, assigned to Bjwebb

[2014-11-10 19:01] #29 closed, assigned to Bjwebb

[2014-11-10 20:25] #23 closed, assigned to Bjwebb

[2014-12-05 14:35] Bjwebb opened #32 "JSON to Spreadsheet - Improve array support (when not using a schema)"
[code]

(Diff taken from new roundtrip test:
https://github.com/open-contracting/flattening-ocds/commit/523c837a07d303c2463300d2807d227a92cef4e6)

[2014-12-05 14:36] Bjwebb opened #33 "Match JSON parsing columns to the schema annotated ones"

[2014-12-05 14:36] Bjwebb opened #34 "Inconsistency between flatten which defaults to main and unflatten which defaults to release"
If this codebase is destined to support multiple standards, I would suggest that the defaults are made generic: https://github.com/open-contracting/flattening-ocds/issues/40

[2014-12-05 15:51] Bjwebb opened #35 "nulls don't roundtrip, because key is ignored"
[code]

(Diff taken from new roundtrip test:
https://github.com/open-contracting/flattening-ocds/commit/523c837a07d303c2463300d2807d227a92cef4e6)

I'm not sure if there's a way of fixing this, or whether it's necessary to do so, so the correct answer might be to add an exception for it in the roundtripping test.

[2014-12-05 17:37] #33 closed, assigned to Bjwebb

[2014-12-05 20:11] Bjwebb opened #36 "Conversions currently happen by loading all files into memory"
I decided to do this as it's easier, the size of data people normally have/want in spreadsheets fits into memory, and I didn't want to be guilty of premature optimisation. It might bite us down the line though if get some particularly large files.

[2014-12-05 20:30] Bjwebb opened #38 "Dates/Times should be outputted in JSON Schemas date-time format"
http://tools.ietf.org/html/rfc3339#section-5.6

Currently converted into the default string representation by this line:
https://github.com/open-contracting/flattening-ocds/blob/1c3f3a9cb7f34cb1395d7559ae0d892eda995ceb/flattening_ocds/input.py#L217
For Excel dates, this looks like: `2015-01-01 00:00:00`
(this is missing a T in the middle and a timezone)

Timezones should be added by assuming UTC b

[2014-12-05 20:32] Bjwebb opened #39 "Do a full diff on roundtripping the sample data"

[2014-12-05 21:22] Bjwebb opened #40 "Remove OCDS specific aspects of the code"
- [x] OCID ID
- Top schema dict is assumed to be object (dictionary), but some JSON files will have a list as the root (split out to #47 as it doesn't affect 360 Giving)
- [x] Outputted JSON has `base['releases']` populated, and this is hardcoded.
- [x] OCDS specific defaults https://github.com/open-contracting/flattening-ocds/issues/34
- Default for root-id, see below

[2014-12-05 21:30] Bjwebb opened #41 "Set up coveralls.io to track test coverage"
It's linked to GitHub, and free for public repositories. I've already made the necessary change to the code https://github.com/open-contracting/flattening-ocds/commit/29c87e1f198eac7822c5137ea571f44a18458969 but I can't enable it on the https://coveralls.io/ website because I'm not an Owner.

[2014-12-08 10:41] #41 closed, assigned to nobody

[2014-12-08 11:22] #39 closed, assigned to Bjwebb

[2014-12-08 11:46] #38 closed, assigned to Bjwebb

[2014-12-12 15:03] Bjwebb opened #42 "Are warnings too verbose by default for end users?"
[code]

(from https://gist.github.com/Bjwebb/d41b8efc71e24f5fba16)

Perhaps only the message itself should be printed by default, and not the information of what line the warning was raised on (as most users don't care about this). A verbose or debug command line flag could be added for users who do want the full output.

[2015-01-02 13:53] practicalparticipation commented on #40
For use in other projects it should be possible to specify:

(a) The root sheet (e.g --root=grants / --root=release)

(b) The root ID (e.g. --root-id=ocid / --root-id=id)

And the root sheet name should be used in the outputted JSON (as in base['releases'] or base['grants'])

[2015-01-02 13:57] practicalparticipation commented on #34
I've been testing the tool using the CSV file from http://lin-360giving.aptivate.org/ and the header row:
  ocid,title,description,funder,fundingOrganization/id,fundingOrganization/name,recipient,recipientOrganization/id,recipientOrganization/name,currency,amountAppliedFor,amountAwarded,recipientOrganization/charityNumber,recipientOrganization/companyNumber,applicationDate/startDate,awardDate/star

[2015-01-02 14:01] practicalparticipation commented on #36
I've been testing the tool using the CSV file from http://lin-360giving.aptivate.org/ and the header row:

[code]

In order to see how the script copes with large files.

Script took around 25 minutes to run on Macbook Air  (2Ghz, 8 Gb memory).

Might need to add a warning for users that large files could take a while to process.

[2015-01-02 14:11] practicalparticipation commented on #28
Google Spreadsheet support would also be interesting (give URL of spreadsheet and either then fetch it as Excel to parse; or natively interrogate it for its data)

[2015-01-02 15:49] practicalparticipation opened #43 "Roll-up / Summary Table option"
In the [360 Giving Data Standard](https://threesixtygiving.github.io/standard/) we have had the concept of 'roll-up' properties. These are properties which would normally end up in a sub-table, but which, for the purpose of simple use-cases where there are only one-to-one relationships, could be included in the main table.

For example, [this schema](https://github.com/ThreeSixtyGiving/standard/bl

[2015-01-02 15:51] practicalparticipation opened #44 "Add validation to spreadsheet templates"
When generating an Excel template, basic validation should be included for columns, including:

* Integer validation
* Date validation
* Select from list for enum values

[2015-01-02 15:53] practicalparticipation opened #45 "Allow header row to use titles rather than field names"
The [360 Giving Data Standard](https://threesixtygiving.github.io/standard/) makes use of user-friendly field titles, as opposed to field names, as column headings.

To allow 360 Giving Data to be converted by the tool we either need:

(a) A process that runs to convert the header row from field titles to field names prior to flattening / unflattening;

(b) The tool to be able to read field titles

[2015-01-02 15:54] practicalparticipation opened #46 "Add field descriptions as notes in Excel output"
If an option is set, add the field descriptions as a note on the relevant header cell when generating Excel output.

[2015-01-05 16:39] practicalparticipation commented on #43
When unflattening, elements which can be one-to-many, should come as an array.

[2015-01-05 16:59] Bjwebb commented on #44
Looks like openpyxl has some support for it https://openpyxl.readthedocs.org/en/latest/validation.html

[2015-01-05 17:01] Bjwebb commented on #46
Looks like openpyxl has support for this https://openpyxl.readthedocs.org/en/latest/comments.html

[2015-01-12 13:44] Bjwebb commented on #43
I've created the rollup/summary mode for use when generating the template, and when flattening JSON. I'm still working on adding a warning if there's more than one value to flatten, and the final sub bullet point (unflattening).

I've added for a flag named `--rollup` because this is the term you've used in the schema. Let me know if you'd prefer this to be e.g. `--summary` instead.

I've added su

[2015-01-12 14:15] practicalparticipation commented on #43
Just tested template generation and this is looking good.

I will test with JSON contents later in the week.

[2015-01-16 11:26] Bjwebb commented on #40
Does the 360 giving standard have a "root ID" in the same way that open contracting does? In open contracting, each release has an `id`, in addition to the `ocid`, whereas a 360Giving activity just has an `id`.

[2015-01-16 11:38] Bjwebb commented on #40
I already have `main-sheet-name` for the root sheet name. I'm now using this supplied value as the key that's used for the top level JSON.

Let me know if you want me to also rename `main-sheet-name`.

[2015-01-16 11:40] Bjwebb opened #47 "Top schema dict is assumed to be object (dictionary), but some JSON files will have a list as the root"
Moving this from #40 into it's own issue as neither Open Contracting nor 360 Giving are affected.

[2015-01-16 12:10] Bjwebb opened #48 "Add roundtrip test for 360 Giving"
(to https://github.com/open-contracting/flattening-ocds/blob/master/flattening_ocds/tests/test_roundtrip.py )

This should have parametrized tests with/without the rollup option.

[2015-01-16 15:48] Bjwebb commented on #43
I've now a warning if there's more than one value to flatten, and implemented the unflattening precedence the way you suggest.

If you're happy with it, I think this issue can now be closed.

[2015-01-16 19:39] practicalparticipation commented on #40
--main-sheet-name works well for me.

[2015-01-16 19:40] practicalparticipation commented on #40
In response to question on root ID, 360 Giving just has an ```id``` field for each Activity. There is no equivalent of the separate ```ocid``` and ```id``` found in OCDS.

[2015-01-19 15:04] Bjwebb commented on #40
I've added the `--root-id` flag. For 360 Giving, you would use `--root-id=''`

[2015-01-19 17:22] Bjwebb commented on #45
Two example commands using titles to create a template, and unflatten, are now in the README https://github.com/open-contracting/flattening-ocds/blob/master/README.md#360-giving-support

[2015-01-28 10:35] practicalparticipation opened #49 "Formula rather than value being read from Excel cells"
If a cell contains a formula then that is being read into the JSON conversion rather than the calculated value of the cell.

The details at https://stackoverflow.com/questions/22613272/how-to-access-the-real-value-of-a-cell-using-the-openpyxl-module-for-python suggest this should be possible to change using the data_only=True flag when opening the workbook.

[2015-01-28 10:40] practicalparticipation commented on #49
Needs full testing - but worked for me on a quick test.

[2015-01-28 10:47] practicalparticipation opened #50 "Only titles of fields including in RollUp in schema converted to fieldnames in JSON"
For example, if the schema for recipient organisation includes:

[code]

And a table row includes:

|Recipient Org:Street Address | Recipient Org:City | Recipient Org:County | Recipient Org:Postal Code|Recipient Org:Country|
|----|---|---|---|---|
|383-387 High Street|Stratford| |E15 4QZ|UK|

Then this will be converted to:

[code]

Because ```country``` is not included in the schema Roll Up, and

[2015-01-30 07:46] Bjwebb opened #51 "Titles don't display properly in subsheets of generated template"

[2015-01-30 07:49] Bjwebb commented on #51
@practicalparticipation This should now be fixed. Could you check that this is behaving the way you want?

[2015-01-30 08:18] Bjwebb commented on #49
Looks good to me. I've added a unit test for it too.

[2015-01-30 11:42] practicalparticipation commented on #51
Tested and appears to be working well :)
On 30 Jan 2015 07:49, "Ben Webb" <notifications@github.com> wrote:

[2015-02-25 19:23] Bjwebb opened #52 "flatten-ocds command doesn't output help information on python2"
(but does on Python 3)

[2015-02-28 13:19] Bjwebb opened #54 "Catch exceptions in order to give better error message"
e.g. if a JSON file is invalid we get a traceback ending:

[code]

We could catch this and give a much better error message, without a traceback, and with useful information such as what file we were trying to open.

[2015-03-10 15:11] #51 closed

[2015-03-10 15:16] Bjwebb opened #56 "Titles and parent IDs or types don't play nicely together"
This is due to https://github.com/open-contracting/flattening-ocds/blob/master/flattening_ocds/input.py#L31 which replaces all colons with slashes.

A temporary fix to allow users to supply a non-title header for parent-ids or typed columns would be to not perform the conversion if we find a slash.

A longer term solution might be to use a different separator for this purpose when titles are used.

[2015-03-10 17:43] practicalparticipation commented on #56
If possible I think it would be useful to re-examine the way we're handling the sub-sheet to parent sheet referencing... as not sure we've hit the right spot yet in terms of maximum understandability to the basic user.

Worth a quick discussion when we next meet?

[2015-03-11 10:23] Bjwebb commented on #56
Yes, definitely worth discussing,

[2015-03-16 16:08] Bjwebb opened #57 "Latest version of openpyxl causes errors"
https://travis-ci.org/open-contracting/flattening-ocds/builds/54588070

[2015-03-31 14:51] #49 closed

[2015-04-12 16:31] Bjwebb opened #60 "Instruct requires.io to ignore updates to openpyxl"
See https://github.com/OpenDataServices/flatten-tool/pull/59#issuecomment-92085573

[2015-04-14 01:10] birdsarah opened #61 "just a thought - pandas instead of openpyxl"
Hi,

I have not given this a lot of thought, but just wanted to throw out there that pandas has really nice features for reading to/from csv, json, excel.

http://pandas.pydata.org/pandas-docs/dev/io.html
http://pandas.pydata.org/pandas-docs/dev/io.html#io-excel

Happy to chat about it / mini-sprint around OpenDataCon?

[2015-04-14 11:33] Bjwebb commented on #61
Yes, would be good to talk about at OpenDataCon.

Part of the reason for chosing tools like openpyxl instead of pandas, is that they have support for specific features of the output format, e.g. for openpyxl we can do validation (which I don't think Pandas does) https://openpyxl.readthedocs.org/en/latest/validation.html https://github.com/OpenDataServices/flatten-tool/issues/44. On the other hand,

[2015-04-14 14:06] birdsarah commented on #61
Pandas does use openpyxl so I wonder if that would still be possible.

[2015-05-28 16:03] timgdavies opened #62 "Add localisation options to generation of Excel file"
From conversation with Laura Serghi of Government of Canada:

[2015-06-03 15:07] Bjwebb opened #63 "Broken link in README"
https://github.com/OpenDataServices/flatten-tool#encodings

"this test"

https://github.com/OpenDataServices/flatten-tool/blob/d7db1125fef079302dcd372593c471c527aff7fb/flattentool/tests/test_input.py#L114

[2015-06-03 16:36] caprenter opened #64 "README doesn't tell you what this code does"
While there is a lot of useful information in the README file, it doesn't actually tell you what this code does/is supposed to do, and what for.

[2015-06-13 10:23] timgdavies commented on #64
I've run a first pass of writing a more detailed README

This could be improved with examples, and perhaps some documentation would belong in the long-run on the Wiki.

[2015-06-17 13:29] Bjwebb opened #65 "Check utf-8 JSON support"
To handle the newest 360 schema, I had to change this line:
https://github.com/OpenDataServices/flatten-tool/commit/4acb8f7f2353d161798ce04423d66978da7a6827#diff-605e5d4acd32e484617678c65a84f31fR40

AFAICT, the 360 schema is correct UTF-8 JSON, so we should check whether a similar change should be made elsewhere to ensure proper UTF-8 support. We may also want to look into UTF-16 and UTF-32 suppor

[2015-06-19 16:39] Bjwebb commented on #48
There is now a roundtrip test, paremetrised for titles/fields and xlsx/csv, but no test yet for rollup.

[2015-06-19 16:46] Bjwebb opened #66 "Add more tests of the cli"
Split out from https://github.com/OpenDataServices/flatten-tool/issues/5

[2015-06-19 16:46] Bjwebb commented on #5
I've added more tests of spreadsheet output https://github.com/OpenDataServices/flatten-tool/commits/master/flattening_ocds/tests/test_output.py

@caprenter added some more tests of the CLI https://github.com/OpenDataServices/flatten-tool/commit/6670032de23b5f1295319419eddd837d4fb6aa2b, but these are not complete, so creating a new issue for this -

[2015-06-19 16:46] #5 closed

[2015-06-19 16:48] #43 closed

[2015-06-19 16:53] Bjwebb commented on #56
We discussed this briefly, deciding to stick with the current approach.

I'm fairly sure that there are some implications in terms of Cove, and ability to use type annotations in the headers. Current task is for me to write this up.

[2015-06-19 16:56] #45 closed

[2015-06-24 16:13] Bjwebb opened #67 "Add rollup roundtrip test"
This should include some nested data that can be recreated from just the main sheet.

[2015-06-24 16:14] Bjwebb commented on #48
I've split rollup into a seperate issue https://github.com/OpenDataServices/flatten-tool/issues/67

[2015-06-24 16:14] #48 closed

[2015-06-24 16:26] Bjwebb opened #68 "amountAwarded does not roundtrip properly"
I had to remove it from the fixture to write a passing test:
https://github.com/OpenDataServices/flatten-tool/commit/4a382fc359a36fef8cd1e5b4723854636752b5c9

I suspect the problem is that it's numeric, so it has type information that is causing it to not be matched properly during flattening - it appears twice in the intermediary spreadsheet, once with the title (not populated) and once with the

[2015-07-14 15:51] Bjwebb opened #69 "Inconsistency between flatten and unflatten wrt root_list_path"
In https://github.com/OpenDataServices/flatten-tool/blob/master/flattentool/__init__.py `flatten` has a `root_list_path` argument, but `unflatten` just reuses `main_sheet_name` for this same purpose.

This issue may sit as part of a general tidyup/genericisation of flatten-tool's interface.

[2015-08-03 09:30] Bjwebb commented on #65
http://ville.montreal.qc.ca/vuesurlescontrats/api/releases is an example of some JSON that currently fails in the flatten tool.

[2015-08-03 15:42] Bjwebb opened #70 "JSON input and CSV output are hardcoded to UTF-8"
See also https://github.com/OpenDataServices/cove/issues/79

[2015-08-03 15:44] Bjwebb opened #71 "Should we use UTF-8 or escaped ASCII for JSON output?"
Currently the output is Python's default, which is escaped ASCII.

[2015-08-03 15:46] Bjwebb commented on #65
UTF-8 JSON input should now work. I've also fixed UTF-8 CSV output.

I've added a new issue to discuss UTF-8 output https://github.com/OpenDataServices/flatten-tool/issues/71 (as the current escaped ASCII output is valid, but possibly suboptimal), and another issue for the fact that UTF-8 is currently hardcoded for JSON input and CSV output - https://github.com/OpenDataServices/flatten-tool/issues

[2015-08-03 15:46] #65 closed

[2015-08-04 15:32] #63 closed

[2015-08-27 09:35] Bjwebb opened #72 "Integer in spreadsheet should be integer (not decimal) in the unflattened JSON"
(Originally reported at https://github.com/OpenDataServices/cove/issues/93)

CSV example: https://gist.github.com/stevieflow/bbb25e5368eb34f8d6f1
XLSX example: http://www.wolfson.org.uk/media/2741/wolfson-foundation-grants-2014.xlsx

[2015-09-15 11:50] Bjwebb commented on #71
We're advising publishers to use unicode directly, so we probably should too.

[2015-09-22 16:29] #71 closed

[2015-09-22 19:59] akuckartz commented on #71
According to RFC 7159 the default encoding for JSON is UTF-8.

[2015-10-06 09:08] Bjwebb opened #73 "Use the 1.0.0. schema as a fixture instead of the RC"

[2015-12-03 05:51] Bjwebb opened #74 "Running the tests on ubuntu requires libpython3.4-testsuite"

[2015-12-04 13:33] Bjwebb opened #75 "When using titles, headings and sheet names should be case insensitive"
(By including sheet names in this, both "Grants" and "grants" will be acceptable, see ThreeSixtyGiving/standard#64 )

[2015-12-09 10:34] Bjwebb commented on #57
Non-broken link to a more recent travis run https://travis-ci.org/OpenDataServices/flatten-tool/jobs/95770669

[2015-12-09 15:44] Bjwebb opened #76 "If a field in rollUp doesn't exist in the schema, a warning should be issued"

[2015-12-09 17:43] #76 closed

[2015-12-10 11:46] Bjwebb opened #77 "Add more tests for titles support"

[2015-12-10 11:50] #73 closed

[2015-12-10 13:46] Bjwebb opened #78 "Newest openpyxl doesn't handle a sheet with a single cell properly"
See https://github.com/OpenDataServices/flatten-tool/commit/e0ecec379a1e313666da7a5f1e511b8ca6cd0d0c#diff-21ce1ab676e420986beb88a25b47c1fbL47 for the changes I had to make to some of the tests to get them to work.

I think in practice this isn't much of an issue, because there's no reason for people to have a sheet with just one cell populated.

[2015-12-10 13:47] Bjwebb opened #79 "In Python 2, newest openpyxl doesn't return integers as int"
See https://github.com/OpenDataServices/flatten-tool/commit/e0ecec379a1e313666da7a5f1e511b8ca6cd0d0c#diff-fc56c8487f9d8af4a034f4f4d2bf1d85R206 and https://github.com/OpenDataServices/flatten-tool/commit/e0ecec379a1e313666da7a5f1e511b8ca6cd0d0c#diff-6008a449cd59e13f90b9b7c4778a1812R63 for the changes I had to make to the tests.

This is probably not a big problem, and doesn't affect Cove as that's

[2015-12-10 14:06] #74 closed

[2015-12-10 14:10] Bjwebb commented on #57
I've now updated the tests so they work with the new version of openpyxl. There are a couple of oustanding issues (see https://github.com/OpenDataServices/flatten-tool/commit/e0ecec379a1e313666da7a5f1e511b8ca6cd0d0c), but I think these are more minor than the problems we've been having with the older version (https://github.com/OpenDataServices/cove/issues/176).

[2015-12-10 14:10] #57 closed

[2015-12-14 09:51] Bjwebb opened #80 "Don't output empty dicts"
E.g. when converting http://www.wolfson.org.uk/media/2740/wolfson-foundation-grants-2014.xlsx

This particularly causes problems for Cove, because it breaks the nice id base unique messages we have now.

[2015-12-16 16:34] stevieflow commented on #72
I think this also applies to a .xlsx file:

http://www.wolfson.org.uk/media/2741/wolfson-foundation-grants-2014.xlsx

http://dev.cove.opendataservices.coop/360/data/182f642b-be72-4ada-8aa8-7e6aa12b4d70

[2015-12-16 16:38] Bjwebb commented on #72
Thanks @stevieflow, looks like it is both. Have updated the issue to reflect that.

[2015-12-23 12:07] Bjwebb commented on #60
No longer needed as wer'e now using the latest verseion of openpyxl https://github.com/OpenDataServices/flatten-tool/issues/57#issuecomment-163629631

[2015-12-23 12:07] #60 closed

[2015-12-23 12:16] Bjwebb opened #81 "No warning when two grants have the same ID"
https://github.com/OpenDataServices/cove/issues/159

`./flatten-tool unflatten test.xlsx -f xlsx -m grants -r '' --convert-titles --schema flattentool/tests/fixtures/360-giving-schema.json -o test.json`

[2016-01-20 15:57] Bjwebb commented on #75
The header titles, and the main sheet are now case insensitive.

Leaving this issue open to look into whether the other sheets should be case insensitive.

[2016-02-11 10:28] Bjwebb opened #83 "SpreadsheetInput should have parser kwargs"
(We shouldn't just stuff it on as an attribute).

[2016-02-11 14:58] Bjwebb opened #84 "Titles support is broken for Open Contracting"
The generated template has "Open Contracting ID" instead of `ocid`, but unflattening still expects `ocid`.

[2016-02-16 18:04] Bjwebb commented on #50
This is now fixed on a branch, and is available for testing in Cove at http://flatten-tool-updates.dev.cove.opendataservices.coop/360/

[2016-02-17 10:53] Bjwebb commented on #77
There are now unflattening tests, but no flattening tests yet.

[2016-02-17 12:24] Bjwebb commented on #75
We've been discussing changing the way multiple sheets work, which may change what we want to do for this issue. Therefore dropping this out of the Ready list.

[2016-02-17 12:26] Bjwebb commented on #67
We're planning to change the way we do rollup when flattening, so dropping this issue out of Ready.

[2016-02-17 12:33] Bjwebb opened #85 "Types from the schema should be used"
E.g. if the schema says something should be a string, we should convert values to string. This would prevent this issue https://github.com/OpenDataServices/cove/issues/267

[2016-02-18 08:51] ekoner commented on #85
This issue also happens with charity and company number. I've added a demonstrator file.

[2016-02-18 11:18] #50 closed

[2016-02-19 12:05] stevieflow opened #87 "Dealing with company numbers that start with 0"
(I think this is flatten-tool)

Quite often , in 360, a spreadsheet will remove the leading 0 of a company number (eg: https://beta.companieshouse.gov.uk/company/09506232 becomes 9506232)

This may in turn invalidate the company number

We should look to account for this.  AFAIK, all company numbers should  be 8 digits long (see: https://www.gov.uk/government/news/registration-of-company-number-10

[2016-02-19 13:34] Bjwebb commented on #87
Are you suggesting that flatten-tool should be fixing the data? (rather than just us flagging the error in Cove?) I'm not sure how this fits with our plan to improve data at source. I understand that there are some cases we want to handle due to the limitations of spreadsheet (dates may be a similar one), but I think we might need to discuss where the line lies.

[2016-02-19 14:50] stevieflow commented on #87
I guess the other way to look at this is that this field should / could be a string of 8 characters ?

[2016-02-19 14:51] Bjwebb commented on #87
We could enforce that in the schema, and Cove would emit a validation error. Not sure how difficult it would then be to get publishers to fix it.

[2016-02-19 14:55] stevieflow commented on #87
@bjwebb have flagged that in https://github.com/ThreeSixtyGiving/standard/issues/121

Therefore - do we need to persist with this issue?

[2016-02-19 15:25] Bjwebb commented on #87
@stevieflow Happy for you to close this issue if you want. OTOH, we may want to discuss whether flatten-tool should be fixing this problem in data, in addition to Cove validating it.

[2016-02-22 15:13] Bjwebb opened #88 "Types aren't used by titles properly"
Due to recent titles changes:
https://github.com/OpenDataServices/flatten-tool/pull/86
https://github.com/OpenDataServices/flatten-tool/issues/50

[2016-03-16 11:34] Bjwebb opened #90 "Use JSON pointer style for multiple sheets"

[2016-03-17 17:14] Bjwebb commented on #85
This should be fixed by https://github.com/OpenDataServices/flatten-tool/pull/89

A test copy of Cove is at
http://flatten-tool-updates.dev.cove.opendataservices.coop/

I'm not sure where to find the demonstrator file, but a spreadsheet I found on plan.io by searching this issue URL looks to be fixed (once the main sheet is named grants).

[2016-03-18 16:44] Bjwebb opened #91 "Generate new spreadsheet templates without type annotations"
Support for these are removed for the main sheet in https://github.com/OpenDataServices/flatten-tool/pull/89, so we should strip these from the templates completely.

[2016-03-21 13:50] Bjwebb commented on #91
We discussed that there's no templates linked to from the doc, just a link to the code so people can generate their own templates.

Just spotted there's some old example CSVs though - https://github.com/open-contracting/standard/tree/1.0-dev/standard/example - but, I don't think these are linked to from anywhere.

[2016-03-21 16:40] Bjwebb commented on #88
Fixed by https://github.com/OpenDataServices/flatten-tool/pull/89

[2016-03-21 16:40] #88 closed

[2016-03-21 17:47] #85 closed

[2016-03-24 12:36] #91 closed

[2016-03-29 13:20] Bjwebb commented on #56
With https://github.com/OpenDataServices/flatten-tool/pull/89 we've removed types annotations from the main sheet. We hope to extend this to all other sheets https://github.com/OpenDataServices/flatten-tool/issues/90 -> this will also have implications for how sub-sheet to main-sheet referencing works; the task in that issue to write up what the possible approaches might be, and what the impacts o

[2016-03-29 13:20] #56 closed

[2016-03-29 15:48] Bjwebb opened #93 "sys.exit does not play nicely with Django"
https://github.com/OpenDataServices/flatten-tool/blame/master/flattentool/input.py#L205

This bypasses Django's error page. We should raise an appropriate error or warning instead.

[2016-04-01 10:29] Bjwebb opened #94 "0 values are dropped from the JSON"
e.g. this causes the wolfoson data to now not validate http://cove.opendataservices.coop/360/?source_url=http://www.wolfson.org.uk/media/2741/wolfson-foundation-grants-2014.xlsx

[2016-04-04 11:28] Bjwebb commented on #90
I've started some words at https://docs.google.com/document/d/1u1Rdma8t4CS4IUeKmwtmoWZKIcuV4B63h66PnsgHrnI/edit#

[2016-04-08 14:16] Bjwebb commented on #93
This code will be removed if we change the way multisheet works https://github.com/OpenDataServices/flatten-tool/issues/90

[2016-04-11 10:17] #94 closed

[2016-04-13 10:31] Bjwebb commented on #90
I've begun implementing a new approach to multisheet:
- [ ] Ensure that all tests, including roundtrip past
- [ ] Check what new tests we need, particularly wrt. missing IDs, mutliple IDs, attaching to the correct ID
- [ ]
- [ ] Write some general documentation of how the new approach works
- [ ] Update the 360Giving docs

[2016-04-13 10:37] Bjwebb commented on #68
TODO: Check what has changed with this due to the recent titles changes.

[2016-04-13 10:44] Bjwebb commented on #26
TODO: Check whether this is possible with our new JSON pointer style

[2016-04-18 07:31] Bjwebb opened #96 "Deprecate main_sheet_name"
Now that our sheets are handled in the same way https://github.com/OpenDataServices/flatten-tool/issues/90 we shouldn't need to specify the main sheet name.

[2016-04-18 07:33] Bjwebb commented on #96
`main_sheet_by_ocid` is also now a misnomer.

[2016-04-18 07:54] Bjwebb opened #97 "Root ID (ocid) is not converted to the correct type"
e.g. if the schema says string, but the input is integer, the output will be integer

[2016-04-18 08:07] Bjwebb commented on #96
(https://github.com/OpenDataServices/flatten-tool/issues/69 may be relevant here, and https://github.com/OpenDataServices/flatten-tool/issues/34 should hopefully be fixed)

[2016-04-18 10:22] Bjwebb opened #99 "Duplicates when unflattening rollup and multiple sheets where there's no ID"

[2016-04-18 10:25] Bjwebb commented on #96
This test currently depends on the current main sheet behaviour: https://github.com/OpenDataServices/flatten-tool/blob/7a69d89a0bed5af872072724a4a07a011d745a47/flattentool/tests/test_input_SpreadsheetInput_unflatten_mulitplesheets.py#L311

[2016-04-18 10:58] Bjwebb commented on #81
That file will now produce this warning:

[2016-04-18 10:59] #81 closed

[2016-04-18 11:00] Bjwebb commented on #93
This block of code was removed as part of https://github.com/OpenDataServices/flatten-tool/issues/90

[2016-04-18 11:00] #93 closed

[2016-04-19 09:58] Bjwebb commented on #96
This would resolve this issue on Sentry https://app.getsentry.com/open-data-services/cove-dev/issues/123679608/activity/

[2016-04-21 08:44] Bjwebb opened #100 "360Giving template generation is wrong"
e.g. with titles

`fundingOrganization/0/Identifier` should be titles and not field names
`Location:Last modified` is missing "Funding Org:" at the start

`recipientOrganization/0/Identifier` should be titles and not field names
`Location:Last modified`  is missing "Funding Org:" at the start

Fixing this is important to updating the 360Giving docs https://github.com/ThreeSixtyGiving/standard/pull

[2016-04-21 15:15] Bjwebb opened #101 "Generate reference tables"
I think the easiest way to get the functionality of https://github.com/ThreeSixtyGiving/standard/blob/master/tools/generate_reference_tables.py but for the new flatten-tool mutlisheet https://github.com/OpenDataServices/flatten-tool/issues/90 is going to be to adapt flatten-tool to produce those tables.

This may also help move us towards solving an OCDS use case which is generating a mapping temp

[2016-04-22 07:40] #100 closed

[2016-04-22 08:41] Bjwebb commented on #31
This issue has been superseded by https://github.com/OpenDataServices/flatten-tool/issues/64

[2016-04-22 08:41] #31 closed

[2016-04-22 08:48] Bjwebb commented on #64
Further tasks:
- [ ]  Description of what the column headers look like in the template (general form and what information is annotated etc.) (from https://github.com/OpenDataServices/flatten-tool/issues/31)
- [ ] Write some general documentation of how the new json pointer and multi-sheet approach work. Adding images or tables of spreadsheets, and the corresponding output to the README would be go

[2016-04-22 08:51] Bjwebb commented on #90
This work has now been merged https://github.com/OpenDataServices/flatten-tool/pull/98 and is included in the April release of Cove https://github.com/OpenDataServices/cove/pull/332

The remaining tasks here are now captured in other issues.

[2016-04-22 08:51] #90 closed

[2016-04-27 09:45] Bjwebb commented on #101
There is now a branch for this, which is used to generate the tables in https://github.com/ThreeSixtyGiving/standard/blob/update-flattentool/documentation/reference.md

This code isn't really ready to be merged into master, as the extra functionality is included in a hacky way. Plan is to clean it up for inclusion in a future sprint.

[2016-04-27 09:54] Bjwebb commented on #101
@timgdavies I've briefly got this code mostly working for the OCDS schema too (there seems to be problems with titles atm):
[code]

The output can be seen at:
https://docs.google.com/spreadsheets/d/1ibA0ssVh3X3ioAwoJ5tQHBIdZrT_3J6N6LnZvR_elks/edit#gid=2034539753

Hopefully this is useful to inform the discussion of what mapping templates we might want to generate.

[2016-04-27 14:21] timgdavies commented on #101
Thanks @Bjwebb  - this is really helpful indeed.

I think the titles issue *may* be due to a lot of missing titles in the OCDS Schema itself (this is something we need to look at in version 1.1).

We're doing some learning about mapping templates with work for Mexico right now - so perhaps we can have a working session on this sometime soon - but this certainly gives me something to be going on wi

[2016-04-28 10:39] Bjwebb opened #103 "OCDS organisations are not handled correctly as they don't have a simple `id` field"
Instead of `id` they have `identifier/scheme` and `identifier/id` https://github.com/open-contracting/standard/blob/1.0-dev/standard/schema/release-schema.json#L692

[2016-06-02 10:11] robredpath commented on #78
Closing - this is definitely an edge case that we're unlikely to ever hit in practical usage at the scales that we're likely to see in the coming months. If anyone hits this in real usage, please re-open this issue so that we can look at getting it fixed!

[2016-06-02 10:11] #78 closed

[2016-06-02 12:03] #87 closed

[2016-06-02 12:27] Bjwebb commented on #80
This is fixed in https://github.com/OpenDataServices/flatten-tool/pull/105

[2016-06-02 12:27] #80 closed

[2016-06-06 15:48] Bjwebb commented on #96
I've started taking a look at this, and I'm getting the impression that the nicest way to do this is break API compatibility (with main_sheet_name and a few other renames), rather than try to deprecate nicely.

I'm going to proceed on this basis, and then we can review once I have a pull request.

[2016-06-09 15:27] Bjwebb commented on #70
Closing as we've got no current plans to change this, and we've not had anyone asking for any other encodings (see https://github.com/OpenDataServices/cove/issues/79#issuecomment-223249836 for the closing of the equivalent issue for Cove). We should make sure what encodings are supported is documented though https://github.com/OpenDataServices/cove/issues/344#issuecomment-224930212

[2016-06-09 15:27] #70 closed

[2016-06-09 15:32] Bjwebb commented on #35
Whilst I think it might be theoretically possible to do this better, I think the current approach that roundtripping isn't perfect (and adapting the tests accordingly) is fine for our current needs. We could possibly explain this in the README though https://github.com/OpenDataServices/flatten-tool/issues/64#issuecomment-213334218

[2016-06-09 15:32] #35 closed

[2016-06-09 15:38] Bjwebb commented on #79
I suggest we decide that Python 2 is less well supported, state this in the README, and then close this issue.

[2016-06-09 15:40] Bjwebb commented on #52
As for https://github.com/OpenDataServices/flatten-tool/issues/79#issuecomment-224935105, I suggest we decide that Python 2 is less well supported, state this in the README, and then close this issue.

[2016-06-09 16:17] #61 closed

[2016-06-09 16:20] Bjwebb commented on #47
Closing this issue as we don't currently have any data this is a problem for. We can open a new issue if/when we hit this.

[2016-06-09 16:20] #47 closed

[2016-06-09 16:22] Bjwebb commented on #75
Headings are now case insensitive, and sheet names aren't used.

[2016-06-09 16:22] #75 closed

[2016-06-09 16:25] Bjwebb commented on #36
This issue has been superseded by https://github.com/OpenDataServices/cove/issues/418

[2016-06-09 16:25] #36 closed

[2016-06-09 17:15] Bjwebb commented on #40
I think the current behaviour of `root-id`, and particularly the defaulting to `ocid` is confusing, and we should look to update this. The default should be like 360Giving, where there is no special ID, and there should be an extra argument if we need it for OCID.

However, I'm not sure if we should be special casing the OCID for releases at all. Since "A release ID must be unique within a release

[2016-06-10 11:01] Bjwebb opened #110 "Check for changes to templates due to recent work"
https://github.com/OpenDataServices/flatten-tool/pull/107

[2016-06-10 11:02] Bjwebb opened #111 "Remove code that's no longer used"
e.g. path_search ?

[2016-06-10 15:02] Bjwebb commented on #40
Discussed this with @kindly this morning: the problem with merging only based on ID, is that flatten-tool may not be dealing with the contents of a release package (and instead e.g. the output of an ID)

[2016-06-10 15:08] timgdavies commented on #40
If there are non-backward compatible changes to OCDS which might help here - do shout.

[2016-06-10 15:24] #69 closed

[2016-06-10 16:18] #96 closed

[2016-06-14 10:32] #52 closed

[2016-06-14 10:34] Bjwebb commented on #52
README updated https://github.com/OpenDataServices/flatten-tool#python-version-support. Issue closed and python2-wontfix label added.

[2016-06-14 10:34] Bjwebb commented on #79
README updated https://github.com/OpenDataServices/flatten-tool#python-version-support. Issue closed and python2-wontfix label added.

[2016-06-14 10:34] #79 closed

[2016-06-14 11:08] Bjwebb commented on #64
We're setting up Sphinx docs to allow us to write more in depth documentation, and pull in function description from the code etc.

[2016-06-14 15:00] Bjwebb commented on #72
I think the issue here is probably that we're wrapping everything in `Decimal` as discussed yesterday.

This should be covered by @threeaims' suggested change if we make sure to not wrap ints in addition to floats.

[2016-06-20 15:19] #34 closed

[2016-06-20 16:27] Bjwebb commented on #103
@timgdavies Might be helpful for me to run this problem by you tomorrow. Main thing I want to establish at this point is whether there's anything relevant I should be suggesting for the upgrade process.

[2016-06-21 09:16] timgdavies commented on #84
Related to #40. Would be fixed if we switch to remove special casing of ocid in our flatten approach.

[2016-06-21 09:21] Bjwebb commented on #103
classification also has `scheme` and `id`

[2016-06-23 09:49] Bjwebb commented on #110
There are no changes.

I've updated the pinned commit for the 360 standard templates anyway https://github.com/ThreeSixtyGiving/standard/pull/154

[2016-06-23 09:49] #110 closed

[2016-06-24 13:45] Bjwebb commented on #97
One way this would be fixed, is if we could treat OCID as a normal field -  https://github.com/OpenDataServices/flatten-tool/issues/40#issuecomment-224963755

[2016-06-24 14:06] Bjwebb commented on #40
I've changed the defaults now to be less ocds specific, but the ocds case still uses the ocid.

I think the change to OCDS that would make this easier would be to require that IDs be globally unique - which is a tighter constraint than what's being suggested for 1.1 in https://github.com/open-contracting/standard/issues/246#issuecomment-220613523

[2016-06-27 08:53] Bjwebb opened #114 "Duplicate column headings should raise warnings"

[2016-07-02 10:58] Bjwebb opened #115 "Add ODS support"
This has been identified as a need for 360Giving.

[2016-07-02 10:59] Bjwebb commented on #28
I've created a new issue for ODS support, as I think we're going to prioritise some work specifically on this sooner: https://github.com/OpenDataServices/flatten-tool/issues/115

[2016-07-12 21:29] timgdavies opened #118 "Only shorten spreadsheet sheet titles when we need to"
At the moment flatten-tool appears to convert sub-sheets like 'planning_documents' to 'pla_documents'.

This shortening is required for some sheets, e.g. 'award_items_additionalClassifications', but it would be good to have a more sophisticated process to only shorten where it is absolutely required to maintain the usability of spreadsheets.

[2016-07-14 16:00] threeaims commented on #111
@Bjwebb @kindly Actually, path_search() is used in `flattentool/json_input.py` `JSONInput`'s `parse()` method here:

https://github.com/OpenDataServices/flatten-tool/blob/master/flattentool/json_input.py#L84

These tests fail without it:

* `flattentool/tests/test_roundtrip.py` - `test_roundtrip_360()`
* `flattentool/tests/test_json_input.py` - `test_root_list_path()`

Shall we keep that particula

[2016-07-15 14:29] Bjwebb opened #122 "Small file that uses too much memory"
This is in our private CRM at https://opendataservices.plan.io/issues/5380

I've had trouble creating a public testcase, because when I open and resave the speradsheet in OOo Calc the problem goes away.

[2016-07-15 15:58] #114 closed

[2016-07-15 16:32] Bjwebb opened #125 "unorderable types: str() < int()"
This CSV:

[code]

Produces this error:

[code]

The problem is the mixing of a being an array or a dict.
The issue is only applicable to fields that aren't in the schema.

Issue discovered via sentry https://app.getsentry.com/open-data-services/cove/issues/141839141/

[2016-07-18 09:54] Bjwebb commented on #72
@stevieflow This is now fixed on dev, e.g. http://dev.cove.opendataservices.coop/360/data/d5572032-42e5-437c-bed3-6ba76bbefb13

[2016-07-18 09:54] #72 closed

[2016-07-18 09:57] stevieflow commented on #72
Great news - thanks

[2016-07-22 12:58] Bjwebb opened #126 "In Python 2 it's not possible to load UTF-16 CSVs"
Python 2 can not load CSVs that contain the NULL character. This includes CSVs encoded in UTF-16. If you wish to convert UTF-16 encoded CSVs you must use Python 3.

(See [this
test](https://github.com/OpenDataServices/flatten-tool/blob/61d8404b444f10384363cde1cad542a0d04af004/flattentool/tests/test_input.py#L130)
which passes for Python 3, but fails for Python 2).

[2016-07-22 12:58] #126 closed

[2016-07-22 14:14] Bjwebb opened #128 "Add link to possible encodings in argparse"
Add a link to https://docs.python.org/3/library/codecs.html#standard-encodings in https://github.com/OpenDataServices/flatten-tool/blob/master/flattentool/cli.py#L110

Tried doing this already, but the tests are problematic on Python 3.5

[2016-08-02 11:50] Bjwebb commented on #103
@timgdavies Is this mentioned somewhere in an OCDS standard issue?

[2016-08-02 12:02] timgdavies commented on #103
Just checked and I don't think so. Can you quickly open an issue for it?

[2016-08-04 17:53] Bjwebb commented on #103
Issue for this is at https://github.com/open-contracting/standard/issues/361

[2016-08-05 06:51] timgdavies opened #130 "Pick up column titles from the nth line"
In a spreadsheet it is sometimes useful to provide information above the column titles.

For example:

(1) To provide meta-data

|  |  |  |
| --- | --- | --- |
| License | CC-BY |  |
| Downloaded from | http://www.example.com/ |  |
| Attributions | Example Coop, Ordnance Survey |  |
|  |  |  |
| **id** | **grant_title** | **grantee/name** |
| 01 | Test Grant | AnyCharity |

(2) To provide addition

[2016-08-05 06:55] timgdavies opened #131 "Flatten data into templates"
There are many cases where it would be useful to provide customised flattened representations of a dataset.

Given we are now able to 'design' spreadsheets for input of data into flatten tool - making choices about how things should be laid out to be most accessible to the user, it would be useful to be able to flatten structured data into those same sheets - treating them as a template.

I.e. Whe

[2016-09-13 14:10] duncandewhurst opened #132 "Documents, items and tenderers flatten to multiple sheets (#bug #ocds)"
I noted a couple of issues with how the OCDS validator flattens documents and items [here](http://standard.open-contracting.org/validator/data/c8850106-9fdb-443c-956e-98073f967fdd)

**Documents**
The flattened xlsx file contains multiple sheets for documents:
- documents
- ten_documents
- con_documents
- awa_documents
- con_imp_documents
- pla_documents

Data is populated in the _documents_ sheet

[2016-09-19 16:17] duncandewhurst opened #133 "'Click to copy' doesn't work (#bug)"
The 'Click to copy' button next to the url under the **Save or Share these results** section of the validator results doesn't do anything (Firefox/Win10).

[2016-09-20 11:18] Bjwebb commented on #133
This is a Cove rather than a flatten-tool bug, so moving it there https://github.com/OpenDataServices/cove/issues/481

[2016-09-20 11:18] #133 closed

[2016-11-01 11:04] Bjwebb opened #135 "openpyxl 2.4 not supported"
I've just merged a pull request to state this explicitly in our requirements https://github.com/OpenDataServices/flatten-tool/pull/134

Would be good to see if we can add 2.4 compatibility though.

[2016-11-22 14:38] Bjwebb commented on #125
I think we could easily be checking for this mixing, skipping anything that doesn't match, and issue a warning. This would mean the rest of the data converts, and we can be specific in our warning about what is broken.

This would also fix this error from https://github.com/OpenDataServices/cove/issues/468
`'Cell' object has no attribute 'get'`, which is due to mixing str and arrays.

[2016-11-22 17:41] Bjwebb opened #137 "Keyerror ocid"
`KeyError('ocid',)`
https://app.getsentry.com/open-data-services/cove-dev/issues/135489057/
https://app.getsentry.com/open-data-services/cove/issues/138001251/

[2016-11-22 18:04] Bjwebb commented on #125
I've got a commit that doesn't error in these cases, still need to:
- [ ] Add an appropriate warning

[2016-11-24 07:45] Bjwebb commented on #125
From https://github.com/OpenDataServices/flatten-tool/pull/138

[2016-11-24 15:29] #137 closed

[2017-03-11 16:20] timgdavies opened #141 "Roll Up with objects"
Using the [schema and command in this gist](https://gist.github.com/timgdavies/addf0e94528d42391d12a614808dd120) I get the error:

However, share is present in the schema, but as an object, rather than a string.

My target behaviour in this case would be to rollUp each of the properties of share.

Is this feasible? I can see that rollups should never target an array, but I suspect allowing them to

[2017-03-11 16:25] timgdavies commented on #141
(Another tangential issue on that schema. the PersonStatement 'placeOfResidence' and 'placeOfBirth' do not appear to be getting rendered into the template)

[2017-03-20 17:19] #111 closed

[2017-03-20 17:29] #40 closed

[2017-03-24 14:50] nicholastulach opened #145 "No way to eliminate top-level key from unflatten JSON"
I would like to see an option to eliminate the top-level key from the JSON output of "unflatten".

[code]

[2017-03-28 13:56] Bjwebb opened #146 "Sort outputted XML according to an XML schema"
This is necessary for it to validate against a schema that uses sequences, such as the IATI one https://github.com/IATI/IATI-Schemas/blob/version-2.02/iati-activities-schema.xsd

[2017-03-28 13:59] Bjwebb opened #147 "Should we need to write /0/ for spreadsheets converted to XML?"
We have to write /0/ which is unnatural for XML, I suspect we can avoid this by treating everything as a list

[2017-03-28 14:01] Bjwebb opened #148 "Support XML namespaces"

[2017-03-28 14:01] Bjwebb opened #149 "Pretty print outputted XML"

[2017-03-28 16:14] timgdavies commented on #146
Is this possibly to abstract in a way that would also work for JSON schemas?

For readability and easy scanning when reviewing data, it would be great if we could get OCDS etc. data out of a process sorted according to property orders in the schema...

[2017-03-29 10:25] Bjwebb commented on #141
Yes, this is something that would be feasible.

This is because `personStatements` is reffed to EntityStatement not PersonStatement

[2017-03-30 15:16] kindly opened #150 "Do not hardcode iati-activities for top level for all xml."
https://github.com/OpenDataServices/flatten-tool/blob/master/flattentool/xml_output.py#L28

Would it make sense to be root_list_path or maybe some other special option for xml conversion.

[2017-03-30 16:15] Bjwebb commented on #150
Yes. I think reusing root_list_path would be fine.

[2017-03-30 16:18] Bjwebb commented on #150
Not hardcoding this makes sense. I'm not sure how's best to specify it, because root_list_path is already used for `iati-activity` (ie. the non-plural recurring element within `iati-activities`)

[2017-03-31 10:31] Bjwebb opened #151 "Convert XML -> spreadsheet"
Current XML support is only for spreadsheet->XML not the other way around.

[2017-03-31 19:50] andylolz commented on #130
Ooh, +1 for doing it the HXL way! This is particularly handy where there are deeply nested elements, so the column headers are not very human readable.

[2017-04-03 09:34] kindly commented on #145
Sorry for the delay in getting back to you on this.

It should be very simple to do this.  However, currently we are working on a way to create a special sheet in a spreadsheet (Called the metatab) which populates the top level dictionary (if you have one) with metadata. #144

It it probably not advisable to work on this issue until that is merged as they effect similar areas of the code.

[2017-04-03 11:34] kindly opened #152 "Doc improvements for Meta Tab and XML changes."

[2017-04-05 09:04] Bjwebb commented on #151
This IATI Community post captures one potential usecase for this: https://discuss.iatistandard.org/t/data-requests-from-partner-country-governments/785/2

[2017-04-06 09:26] dalepotter commented on #130
+1 for HXL too.

And like a field containing a short documentation string also sounds useful.

[2017-04-06 13:21] kindly opened #153 "Review what information source maps return."
This is particularly important as we are now allowing vertical orientation when parsing spreadsheets.

Currently the source map gives back misleading (or at least badly documented) information on what cells or rows (and now columns) the original data exists in.

[2017-04-06 17:14] Bjwebb opened #154 "Numbers in headers of xlsx files fail to convert"
https://github.com/OpenDataServices/cove/issues/627

[2017-04-14 15:33] nicholastulach opened #157 "Add documentation for CSV->JSON simple arrays"
I haven't been able to find documentation for converting simple array from CSV->JSON. I noticed that this is supposed to work from issue #1 but when i test it with the simple CSV:
[code]
I get the following result:
[code]
I expect the following instead:
[code]

[2017-04-20 18:36] Bjwebb commented on #157
Simple arrays are only converted if a JSON schema is supplied that states the field is an array of strings. This is to avoid us splitting on semicolons in fields where we shouldn't e.g. description text. As you point out, this isn't currently documented, which we should fix.

[2017-05-02 15:40] edugomez opened #158 "Don't add empty strings as items in lists"
When passed a string with semicolon delimiters and a schema that identifies that field as an array field, if there is a semicolon ending the string then flatten-tool will add an additional item (an empty string) to the array.

[2017-05-05 13:25] Bjwebb opened #159 "Empty columns with borders are picked up"
And, if there's more than one such empty column, a DataErrorWarning will be raised.
Example file: [ExampleTrust-grants-extracolumns.xlsx](https://github.com/OpenDataServices/flatten-tool/files/979145/ExampleTrust-grants-extracolumns.xlsx)

[2017-06-28 16:27] Bjwebb commented on #148
These work "out of the box" provided you add the appropriate cell to a Meta tab. We should add a test that these work in Cove though - https://github.com/OpenDataServices/cove/issues/725 - as I worry switching xml libs could break it.

[2017-06-29 14:28] Bjwebb commented on #148
Namespaces don't work with lxml, in the same way that they do for etree from the standard library. We want etree to catch errors with malformed tags https://github.com/OpenDataServices/flatten-tool/pull/160

[2017-07-11 16:49] Bjwebb commented on #68
The problem is actually that the title "Amount awarded" appeared for commitmentTransaction in the 360 schema. Updating the 360 schema fixture to the latest master fixes this problem.

[2017-07-14 10:38] Bjwebb commented on #132
This is fixed now on a branch. This is what the example data looks like when flattened: [flattened.xlsx](https://github.com/OpenDataServices/flatten-tool/files/1148123/flattened.xlsx). The documents tab is gone, and the individual ten_documents sheet is populated instead.

[2017-07-14 11:32] duncandewhurst commented on #132
@Bjwebb looks good for ```ten_documents```, ```ten_items``` and ```ten_tenderers``` I would need to test with some more sample data to check the same for the other stages

[2017-07-14 13:42] stevieflow commented on #130
+1

[2017-07-15 09:13] johnadamsDFID commented on #130
+1 Excellent idea.

[2017-07-18 10:26] dalepotter commented on #130
As part of the [iati.core python library](https://github.com/IATI/iati.core) (which aims to better support the  the way IATI developers work with the IATI Standard and IATI data), I'm currently working on a user story which may be relevant to the related issue of outputting docs relating to each IATI XPath element.

We're imagining that implementation might be done by something like `iati.core.Sch

[2017-07-19 15:44] Bjwebb opened #165 "Ignore CSV UTF-8 BOM"

[2017-07-20 16:30] Bjwebb commented on #165
Looks like the fix to flatten-tool is to specify the encoding: `-e utf-8-sig`. Creating a new issue for fixing this in CoVE https://github.com/OpenDataServices/cove/issues/771

[2017-07-20 16:30] #165 closed

[2017-07-20 17:14] stevieflow commented on #130
Some additional insight on this

@rory09 and I recently developed a [template](https://docs.google.com/spreadsheets/d/1bhVClTguMxNrCfjza64QzsPJYHCCP9gmBKOq1zFm8dE/edit?usp=sharing) for gathering IATI relevant data from across several country offices of an organisation.

One aspect that helped users (we found) was to keep the xpath details at the top of the document, and slightly shaded out (to imp

[2017-07-20 17:18] timgdavies commented on #130
It might be useful to think about the options that Open Refine gives when uploading a file

![image](https://user-images.githubusercontent.com/342624/28430219-99f3c296-6d77-11e7-87ac-bf30824a95a5.png)

I.e. in this case we want to:

* Parse 1st row as header
* Drop first two rows of the data
* Parse everything else

But in other cases might want the other combination of options.

Another design pa

[2017-07-20 17:20] stevieflow commented on #130
Yes
In discussion with @Bjwebb we talked about utilising the meta tab to try and (manually) indicate this.  This might be useful in terms of us trying different approaches, rather than trying (initially) to build features of UI, etc...

[2017-07-25 15:41] kindly commented on #130
@Bjwebb and I had a further discussion about this.  We have excluded auto-detection as an option as we think there are too many things that could go wrong with this.  We have 3 options remaining, summarising the above and our discussion.

### 1.  Saying how many (and what) lines to skip in the Metatab.
This means we will will have some kind of special options in the metatab that say how many rows

[2017-07-25 16:03] timgdavies commented on #130
Is there an option 4:

## 4. Skip the row when the first character of the row is # and use the first non-comment row as the header

| # | | | |
| - | - | - | - |
|# can put anything here|||
|# Some|Human|Readable|Title
| actual|heading|line|here
| data|starts|from|here
| # I can also put a comment in the last line | - | - | - |
| # E.g. the downloaded date | - | - | - |

**Pros**

* Gets out of th

[2017-07-26 08:37] kindly commented on #130
@timgdavies we excluded options where the "data" not just the "headings" has limits to what can expressed. So 4 was excluded for that reason. We could have it that you are allowed comments continuously at the top but not again after that (i.e in the footer),  but this means you would not be able to have the human readable headings after the normal headings. Also having # at the start of only the f

[2017-07-26 08:52] timgdavies commented on #130
Ok - you're selling me on option 3.

I've just been looking at:

[W3C Tabular data dialect descriptions](https://www.w3.org/TR/2015/REC-tabular-metadata-20151217/#dialect-descriptions) which provide a set of possible 'commands' (skipRows)

http://w3c.github.io/csvw/syntax/#tabular-data-embedding-annotations is also particularly useful as a reference source for us I think.

[2017-07-26 09:12] kindly commented on #130
@timgdavies They look good references especially for naming conventions. i.e

|#| skipLines 1 | headerRows 2 | |
| - | - | - | - |
can put anything here|||
|actual|heading|line|here
|Some|Human|Readable|Title
|data|starts|from|here

I suppose we could also allow any number of continuous # lines at the start (like option 4) for comments, but keep the first line special for "commands".

[2017-07-26 14:46] stevieflow commented on #130
My thinking is that on the example I provided above: https://github.com/OpenDataServices/flatten-tool/issues/130#issuecomment-316770891 - there would need to be *another* row for configuration.  With styling and such, we can make it clear to the user to not touch this - but it could be a risk, but minor

@rory09 - any thoughts?

[2017-07-26 16:24] #154 closed

[2017-07-26 16:25] #125 closed

[2017-07-26 16:25] #68 closed

[2017-07-26 16:26] Bjwebb commented on #132
This is fixed on dev now, you can test it at http://release-201707.dev.cove.opendataservices.coop/validator/

[2017-07-26 16:26] #132 closed

[2017-07-27 11:26] kindly commented on #130
@stevieflow Just for clarity I hope that you will not need to have that line at the top of every sheet. The aim is that you can define the defaults for all sheets in the Metatab sheet.

[2017-07-28 12:57] rory09 commented on #130
I have a few thoughts on the issues mentioned above. I'm going to post the thought which is well formed now, and then have a think about the multiple heading rows discussion.

### Commenting out columns and workbook sheets

I've often (and often seen publishers) put an extra column in my data for notes/quick tests using formulas, or put a whole extra sheet in some IATI/360 data to house values for

[2017-08-01 09:29] rory09 commented on #130
I can see the appeal of option 3, but I have some worries.

**Convention inconsistencies between CSV and Excel files**

IATI version *must* be be declared in the metatab in Excel, but there can't be a metatab for CSV files, so there would need to be very clear documentation, and even then it could be confusing / would mean that people would have to be careful in transferring data from csv to excel

[2017-08-01 09:30] rory09 commented on #130
Wrong button. `![oh dear](facepalm.png)`

[2017-08-01 09:58] rory09 commented on #130
So with my above call for defaults in mind, we could present users with the following kind of template in the case of Excel (with a meta-tab + IATI version included elsewhere in the workbook):

|   |        A        |         B          |          C          |                 D                  |  E  |
|---|-----------------|--------------------|---------------------|------------------------------

[2017-08-01 10:08] kindly commented on #130
@rory09

Thanks for your feedback. I have had the same concerns over auto-filtering, pivoting and other functions. HXL has this issue too.

I am happy to support HXL but the standard itself "as far as I can see" does not give us a clear way to say if the sheet is HXL formatted to begin with and flattentool has to know that. Any autodetection we do will be flawed.

I want to start working on this a

[2017-08-01 10:18] kindly commented on #130
Also I think we should consider supporting HXL in a way that says every sheet has it. i.e by having a Metatab sheet like the following:
|#| hxl | |
| - | - | - | - |
|license|CC
|version|1.1
|extensions|

This would mean for every sheet (apart from the metatab) after every heading line there would be the HXL # tag lines.
The only thing we would need to discuss is how we represent what flatten-tool

[2017-08-01 11:01] kindly commented on #130
@rory09 I missed the comment about the defaults but this fits into the outline of the plan in my comment.

There will be two types of defaults. Defaults set in flattentool and defaults expressed in the Metatab. To begin with I am going with the defaults set in the Metatab but it should fairly easy to have a way to send a list of defaults to the command line tool.  Cove can set a list of defaults f

[2017-08-10 14:47] #148 closed

[2017-08-17 10:32] Bjwebb commented on #130
Our work so far on this is deployed at http://iati.cove.opendataservices.coop/
Only XLSX is supported, but its possible to ignore a whole sheet, or have skipLines or headerRows.

Some example files:
https://github.com/OpenDataServices/flatten-tool/blob/master/flattentool/tests/fixtures/xlsx/commands_defaulted.xlsx?raw=true
https://github.com/OpenDataServices/flatten-tool/blob/master/flattentool/te

[2017-08-17 19:57] stevieflow commented on #130
Amazing - thanks @Bjwebb

@rory09 - please can you review?

I guess we will also need to plan some documentation around this.  @Bjwebb : this could be an IATI CoVE sphnix setup?

[2017-08-21 15:31] Bjwebb commented on #77
We now have tests of flattening with titles, and multi sheet tests for flattening and unflattening.

[2017-08-21 15:34] #77 closed

[2017-08-21 16:49] #67 closed

[2017-08-21 17:29] Bjwebb commented on #130
Yes, https://github.com/OpenDataServices/cove/issues/814 is the issue about writing docs.

[2017-09-27 12:48] kindly opened #171 "Commands for csv files"

[2017-10-03 14:59] Bjwebb commented on #151
I've made a start on this.

Remaining tests:
- [ ] Try some more real world data
- [ ] Check what happens when 1 activity has 1 transaction, and another has many
- [ ] Tests of spreadsheet->XML
- [ ] XML roundtrip test

[2017-10-04 15:29] #171 closed

[2017-10-04 15:31] kindly opened #174 "Add hash comments command"

[2017-10-09 10:25] Bjwebb commented on #174
This has been added for XLSX, but we might want to also add it for CSV?

[2017-10-09 16:17] Bjwebb opened #176 "Create a metatab when flattening"

[2017-10-09 16:18] Bjwebb opened #177 "Get cardinality info from XML schema"

[2017-10-09 16:19] Bjwebb commented on #151
As discussed with @rory09 on last week's show and tell - if an activity has one transaction (for example), it appears in the main `iati-activity`, whereas if it has more than one transaction, they appear in a `transaction` sheet. This is problematic for users who want to aggregate transactions (e.g. using pivot tables). I've created a new issue for this https://github.com/OpenDataServices/flatten-

[2017-10-12 15:27] Bjwebb opened #178 "Multilingual narratives don't roundtrip properly"

[2017-10-12 15:33] Bjwebb commented on #151
Multilingual narratives don't flatten properly. They are split out onto their own sheet, without enough information of what element to reattach them too. I've created a new issue for this https://github.com/OpenDataServices/flatten-tool/issues/178

[2017-10-18 13:09] #151 closed

[2017-11-09 10:25] Bjwebb opened #180 "List under items in schema is not supported"
e.g.

[code]

[2017-11-24 09:52] timgdavies opened #182 "Exploring support for anyOf / oneOf"
We currently don't support the `oneOf` or `anyOf` constructs in JSON schema.

We are using these in the [Beneficial Ownership Data Standard](http://beneficial-ownership-data-standard.readthedocs.io/en/master/schema.html), and they crop up when trying to re-use other schema contents such as GeoJSON.

We should identify whether flatten-tool can support these, or whether we have to document these as

[2017-11-30 13:08] kindly commented on #182
@timgdavies the problem we also have about anyOf and oneOf are the obscure validation error messages they give. i.e they just say something like ```{this whole object} is not valid in any subschema``` and the object can be huge.

I think we can support oneOf and anyOf but only for a subset of all the possible subschemas they can contain but not sure we should.  Your examples above cover having "a

[2018-01-09 10:15] edugomez opened #183 "Replace personal and organisation information in test data"
e.g. https://github.com/OpenDataServices/flatten-tool/blob/master/flattentool/tests/fixtures/WellcomeTrust-grants_fixed_2_grants.json#L12

[2018-02-05 15:37] timgdavies commented on #103
OCDS 1.1 added the required identifiers.

[2018-02-05 15:37] #103 closed

[2018-02-06 10:13] timgdavies opened #185 "Handle deprecation"
Our use of an [extended JSON schema dialect](http://os4d.opendataservices.coop/development/schema/#extended-json-schema) introduces the concept of 'deprecated' fields.

I would suggest we should have a default behaviour of ignoring deprecated fields (potentially with a warning to the user that this has happened) when generating templates, and then option of flags for:

* --include-deprecated-field

[2018-02-07 10:57] robredpath commented on #185
We think this is relatively straightforward, and "hours to days" of effort. @timgdavies do you have a sense of the priority / urgency of this?

[2018-02-07 18:17] timgdavies commented on #185
The hard deadline for this would be the point at which we release updated OCDS documentation (c. July time).

However, it would be useful to consider well in advance of that. I think a non-sprint card that we aim to cover in the next 3 months would fit?

[2018-02-08 13:06] Bjwebb commented on #185
Thanks, added to our internal tracker 13248

[2018-02-15 12:21] robredpath opened #186 "Skip rows in CSV files that contain no actual data"
It's really easy to accidentally drop a space into a cell in Excel and never know about it, until you run it through CoVE and get really weird results because your CSV looks like:

[code]

Skipping rows that contain no actual data (ie, just field delimiters and whitespace) avoids this issue.

Relates to internal ticket 13249

[2018-02-28 20:50] stevieflow commented on #177
I guess this is further compounded by the instance where there could be multi-nested elements, such as iati-activity/result/indicator : https://discuss.iatistandard.org/t/challenge-results-with-multiple-indicators-and-multiple-measures/1108/

Is this the same issue?

[2018-03-23 17:00] andylolz opened #187 "`iati-activity`s with multiple `document-link`s that have multiple `category`s don’t roundtrip properly"
I guess this is related to / the same as #178.

[2018-03-25 17:06] andylolz opened #190 ""Defaults to unflattened.json" is not true"
I.e. just here:
https://github.com/OpenDataServices/flatten-tool/blob/a62361f74f8246cc457e7de5e9641724800b25b0/flattentool/cli.py#L127

Looks like it defaults to stdout:
https://github.com/OpenDataServices/flatten-tool/blob/a62361f74f8246cc457e7de5e9641724800b25b0/flattentool/__init__.py#L219-L220

[2018-03-25 17:12] andylolz opened #192 "Mentions of JSON should be generalised now that flattentool supports XML"
E.g. here:
https://github.com/OpenDataServices/flatten-tool/blob/a62361f74f8246cc457e7de5e9641724800b25b0/flattentool/cli.py#L59-L64

[2018-03-25 23:40] andylolz commented on #192
Similarly, there are places JSON isn’t mentioned, but should be, because XML isn’t supported. E.g. specifying a schema.

[2018-03-26 09:01] andylolz opened #195 "Add note to docs about case insensitive file systems"
Since d9e62653, this repo behaves a bit weirdly on a case insensitive file system. I wonder if this is worth noting in [the Getting Started docs](http://flatten-tool.readthedocs.io/en/latest/getting-started/#installation), because it’s a little bit unusual.

[2018-03-26 09:36] andylolz commented on #146
A couple of things to note:
 * IATI has multiple schemas (iati-common.xsd + iati-*-schema.xsd) so I suppose you’d need to be able to pass those into unflatten and the CLI (although for sorting, you can probably get away with ignoring iati-common.xsd)
 * unflatten already accepts a (JSON) schema, and uses it for column header lookups. So you could pass in the XML schema(s) as a separate parameter,

[2018-03-26 15:08] Bjwebb commented on #187
Yes, looks like it.

[2018-03-27 10:05] Bjwebb commented on #195
I'm not sure I see anything about file names in that commit, so I don't know what this weird behaviour is.

[2018-03-27 10:26] andylolz commented on #195
The commit adds the following files:
 * flattentool/tests/fixtures/xlsx/WellcomeTrust-grants_2_grants.xlsx
 * flattentool/tests/fixtures/xlsx/WellcomeTrust-grants_2_Grants.xlsx

These filenames differ by a single character – the ‘g’ in the final ‘grants’ is uppercase in one, and lowercase in the other.

[2018-03-27 10:28] Bjwebb commented on #195
Aha. Perhaps best to rename one of those.

[2018-03-27 10:37] #190 closed

[2018-03-27 11:19] andylolz opened #198 "lxml appears to be supported, but is untested by travis"
This seems a biiiit dangerous (if there’s any version of lxml hanging about in the environment, it will be preferentially used even though it’s untested. But then, I suppose if there’s weird stuff in the environment, that will always be potentially problematic. So maybe this is a ridiculous issue.)

I suppose lxml should either be supported (and therefore should be tested) or it shouldn’t (and sho

[2018-03-27 13:37] #183 closed

[2018-03-27 14:37] #195 closed

[2018-03-28 13:04] andylolz commented on #52
This seems to work as expected for python 2.7. And python <2.7 isn’t supported anyway.

I suggest removing the `python2-wontfix` label (so this issue doesn’t show up when users click through from docs).

[2018-03-30 12:30] andylolz commented on #174
As a filename prefix? Probably a bit late to suggest this, but I guess tilde would be nicer for both?

[2018-03-30 12:43] andylolz commented on #115
Doesn’t look like openpyxl has ODS support. But there’s [pyexcel-ods3](https://github.com/pyexcel/pyexcel-ods3)…

[2018-03-31 16:52] andylolz commented on #115
ODS as an input and/or output format?

[2018-03-31 17:59] andylolz commented on #115
(made a start on this at [andylolz/flatten-tool#ods-support](https://github.com/andylolz/flatten-tool/tree/ods-support))

[2018-04-02 12:14] andylolz commented on #198
NB tests don’t pass when lxml is installed because:

 * lxml respects OrderedDict for attribute ordering (xml.etree.ElementTree doesn’t)
 * lxml outputs self-closing tags without a space before the slash (xml.etree.ElementTree adds the space)

[2018-04-17 13:51] andylolz commented on #150
I think this is a) distinct from root_list_path, and b) XML-specific. So `--xml-root-path`?

[2018-04-17 22:05] andylolz opened #202 "Add documentation for sheet configuration rows"
I don’t think there’s documentation for hash directives like these:
https://github.com/OpenDataServices/flatten-tool/blob/f70c41484e1c5db152db3762de1a4667a1402140/flattentool/tests/fixtures/csv/commands_in_file/sheet1.csv#L1

I’m only aware of how to use them from reading tests (confirmation that tests > documentation!)

[2018-04-18 08:49] andylolz commented on #186
I guess the skipRows directive (and probably headerRows too) should still treat these blank rows as relevant.

[2018-04-18 11:17] Bjwebb commented on #202
Yeah, looks like the docs we do have are in the CoVE docs https://cove.readthedocs.io/en/latest/spreadsheet_input/

[2018-04-18 11:29] andylolz commented on #202
Ahhhh, interesting! Thanks for flagging, @Bjwebb.

I guess it should appear in both…?

[2018-04-18 11:30] Bjwebb commented on #202
Yes, probably.

[2018-04-18 11:48] Bjwebb commented on #186
Yes, I think so.

[2018-04-20 13:47] Bjwebb commented on #115
Ideally both.

[2018-04-20 13:55] Bjwebb commented on #174
I think we've gone down the route of hashes now.

I think I was thinking mostly about comments for columns  in CSV files, but we could do a filename prefix also.

[2018-04-24 15:05] Bjwebb commented on #122
We've seen this issue again for IATI. Internal issue https://opendataservices.plan.io/issues/14527

[2018-04-24 15:25] #150 closed

[2018-06-05 11:45] odscjames opened #205 "DeprecationWarning when generating xlsx"
flatten-tool flatten --root-list-path=items -f=csv  standard/example1.json

Is fine.

[code]

This is with openpyxl==2.5.3

[2018-06-12 14:23] robredpath opened #206 "Handle workbooks that use 1904 date base"
Most platforms use 1900-01-01 as their date base (or possibly 1899-12-31, we should check). Software on Macs seem to use 1904-01-01, and there's a property at the workbook level that records this. We should read this in when working with .xlsx files.

See https://openpyxl.readthedocs.io/en/stable/api/openpyxl.workbook.properties.html?highlight=1904 for docs on the relevant methods.

[2018-06-12 18:35] stevieflow commented on #206
@rory09 also check this with your setup & iati data?

[2018-06-13 08:01] robredpath commented on #206
This feels like a useful, timely and tractable first issue for @rhiaro to work on to start getting to know flatten-tool. @Bjwebb ?

[2018-06-13 11:06] Bjwebb commented on #206
It's not obvious to me what the correct fix here is. Openpyxl reads the property from the workbook, and correctly propagates this information to the `base_date` attribute on a cell (see below). However, the actual `value` attribute is wrong. I think someone needs to go read the relevant bit of openpyxl source code. I don't think we can just blindly work around this is flattentool, because I think

[2018-06-13 11:14] rhiaro commented on #206
openpyxl is totally new to me, so if it's going to be more efficient for you to fix this @Bjwebb then go ahead.

[2018-06-13 14:55] Bjwebb commented on #206
After a little poking around in the source code, I'm fairly sure this is an openpyxl bug. It's not obvious to me where to try to fix this, so I've reported it upstream so that they can take a look - https://bitbucket.org/openpyxl/openpyxl/issues/1049/mac-base-date-is-not-used-correctly

[2018-07-25 13:16] #198 closed

[2018-07-31 14:25] timgdavies opened #209 "Roll-up doesn't work with $ref fields"
I've been trying to generate a template [from this schema](https://github.com/SocialEconomyDataLab/spec/blob/2e8ca1a537ceeae24bafb1ce7317776074c08416/schema/schema.json) with the command:

and based on [these rollUp properties](https://github.com/SocialEconomyDataLab/spec/blob//2e8ca1a537ceeae24bafb1ce7317776074c08416/schema/schema.json#L55).

This throws the error:

which I believe is down to the

[2018-07-31 15:26] Bjwebb commented on #209
flatten-tool does resolve refs before working with the schema. (Although not using our particular pattern - but I don't think that's the problem here).

I think something else odd is going on here.

[2018-07-31 15:48] timgdavies commented on #209
Apologies for this issue. I worked out with a bit of testing that I needed to use the full path of the properties I was rolling up as here: https://github.com/SocialEconomyDataLab/spec/blob/revised-schema/schema/schema.json#L67

We might want to add this to the documentation, but no change to the code needed for this one.

[2018-07-31 15:48] #209 closed

[2018-07-31 16:55] Bjwebb commented on #209
Glad that works. What stumps me is why that's true for this schema, but isn't true for the [360Giving schema](https://github.com/ThreeSixtyGiving/standard/blob/master/schema/360-giving-schema.json)

[2018-08-12 22:18] andylolz commented on #149
This can be closed, can’t it?

[2018-08-13 10:39] #149 closed

[2018-08-13 11:29] #146 closed

[2018-08-14 23:27] martinszy opened #217 "Missing requirements in getting started"
In this page: https://github.com/OpenDataServices/flatten-tool/blob/master/docs/getting-started.rst
We need to have a requirements section that lists python3 and virtualenv as requirements

[2018-08-22 16:09] robredpath opened #220 "Add an option to convert datetimes to dates when flattening"
Excel doesn't like datetimes, so in circumstances where Excel is likely to be software used to manipulate the CSV, products using flatten-tool (such as GrantNav - see https://github.com/OpenDataServices/grantnav/issues/466 ) would benefit from being able to select to output dates rather than datetimes

[2018-08-22 16:13] robredpath commented on #220
Oops, got this the wrong way round at first!

[2018-09-19 14:07] odscjames opened #223 "For Open Ownership, flatten into seperate sheets could be good"
**Open Ownership**

If you take the first sample from http://standard.openownership.org/en/schema-beta-2/examples/index.html you'll see it's a list of types, but different types based on the "statementType" value. Also, each type has it's own schema of what other fields are there:

[code]

**Flatten**

If you use flatten on this (after applying patch #222) you'll get 6 files:

  * addresses.csv

[2018-09-19 14:18] odscjames commented on #223
Note I think rollup could be used here to reduce some of the subsheets, and if that was used a lot you would end up with 3 sheets:

 *    entityStatement.csv
 *   ownershipOrControlStatement.csv
 *   personStatement.csv

This might still be easier to work with than the one "main.csv", for the 2 reasons described above.

[2018-09-19 15:35] odscjames opened #225 "Making unflatten work with Open Ownership whilst passing schema option"
(This assumes #221 has been done or it won't run at all. I don't think this means #221 shouldn't be done tho.)

**Problem 1 - the easy one**

The schema for Open Ownership uses external refs, and the tool as it currently stands can't load them. Need to pass base_uri to jsonref.load like

[code]

except I think the above is Python 3 only and we need Python 2 - WIP.

**Problem 2 - oh shit**

So the

[2018-09-19 15:44] odscjames commented on #225
I tried writing a new bods-package-for-unflatten.json that has just the element in the list, but has all 3 options:

[code]
But it didn't work! Not sure why.

[2018-09-19 16:21] odscjames opened #226 "Making Creating Templates work with Open Ownership"
This might be ok actually, but we will want to make sure it's documented in the Open Ownership page.

So apply the patch from part 1 of #225 so refs work and then run:

    flatten-tool  create-template -f csv -s bods-package.json -o template --root-id=statementID

And you get a blank output, as the tools doesn't like the whole list as a root element thing? But actually, maybe we want to do someth

[2018-09-19 16:51] timgdavies opened #227 "Don't include empty sheets or columns"
In cases when generating flattened data driven by a schema you can end up with a **lot** of empty sheets when there are scheme elements not used.

It would be good to have the option to tell flatten too to only include a column if has values, and only include a sheet if it has at least one column with a value in it.

(i.e. This is essentially the output you get if you run flatten without the schem

[2018-09-19 16:53] timgdavies commented on #223
Agreed that flattening separately by type makes good sense.

I'm not sure if you are thinking about this as a possible 'abstract' feature, or special-case handling for BODS, but in case it is useful for generalising an approach, I could *imagine* cases in OCDS or other files where you might also want to split by some 'type' variable before flattening. For example, you might have a country where th

[2018-09-19 16:54] timgdavies commented on #223
(As an aside to note - in terms of **reversibility** - there is an extra constraint in BODS [re: ordering of statements](http://standard.openownership.org/en/schema-beta-2/schema/reference.html#serialization) that might need some thought in terms of how unflattening works - or may just need post-processing of flatten-tool output)

[2018-09-20 08:12] odscjames opened #228 "For Open Ownership, unflatten needs to put statements in order."
From #223, @timgdavies pointed out:

I believe this can be sorted with some careful use of filenames but

a) test that
b) make sure it's documented on Open Ownerships page in the docs

[2018-09-20 08:20] odscjames commented on #223
I was thinking abstract - if you look at P.R. #224 there is a new parameter to flatten,
--separate-by-key. Pass a field name, and for each different value it will make a different set of files. I think the rest should work out - need to think about names and edge cases tho.

[2018-09-20 12:05] odscjames commented on #228
Yeah, adding numbers so the files are loaded in order totally works:

*  1entityStatement.csv
* 1entityStatement-identifiers.csv
* 2personStatement-addresses.csv
* 2personStatement.csv
* 2personStatement-names.csv
* 2personStatement-nationalities.csv
* 3ownershipOrControlStatement.csv
* 3ownershipOrControlStatement-interests.csv

Make sure this is documented on Open Ownerships page in the docs

[2018-09-20 12:46] odscjames opened #230 "Is there an off by one error in headerrows, or does this just need documenting better?"
https://flatten-tool.readthedocs.io/en/latest/unflatten/#configuration-properties-skip-and-header-rows

Says: "headerrows - ignore the first n rows after the field paths"

Sounds great!

But if you look at the example sheet, it has "headerrows 3" but only 2 rows ... lines 5 and 6 in https://github.com/OpenDataServices/flatten-tool/blob/master/examples/cafe/skip-and-headers/data.csv

Whaa? I would

[2018-09-21 08:34] andylolz commented on #230
Oh I see! You’re quite right. This line of documentation is wrong:

So maybe:

…or something like that. It’s a bit clunky, but I guess it’s still probably preferable to fix the docs rather than to change how this works.

[2018-09-21 16:28] odscjames commented on #230
Probably true

Sounds good to me! Thanks

[2018-09-25 08:54] #230 closed

[2018-09-25 09:17] odscjames opened #232 "Should we run flake8 on this?"
And put in Travis?

[2018-09-25 09:21] odscjames commented on #232
Wait, is prospector meant to replace that? That should probably be in developer guide (and Travis?) if so?

[2018-09-25 09:51] odscjames opened #233 "Update Developer Guide!"
We have versioning and a changelog!

https://github.com/OpenDataServices/flatten-tool/blob/master/docs/developerguide.rst

[2018-09-25 10:24] ghost opened #234 "Update copyright year in docs"
https://github.com/OpenDataServices/flatten-tool/blob/master/docs/conf.py still says 2016

[2018-09-26 22:32] robredpath commented on #228
I don't love this.

Would it be hard to either allow the user to specify ordering (maybe specifying prefix order?) or to hard-code (and in the future pick up conf from a file) the BODS-specific ordering?

[2018-09-27 11:19] odscjames commented on #228
I don't really either. I was going to start by making sure the tool was at least minimally useable ASAP (hence these docs).

Then I was going to discuss things like you suggest, but with the assumption that hard-coding anything too specific about one standard into the tool was going to be problematic - so things like config files are probably the way to go.

[2018-10-03 14:28] odscjames commented on #223
Discussion with @kindly - another option is a:

-  a filter option, so you can run flatten and say "only process data with X=Y". With this, you would run the command 3 times, one for each statementType
-  a prefix option, a simple flag saying "put this string infront of each file name". You can use this to avoid renaming files by hand.
-  this works for CSV's, but for Excel you want an option to a

[2018-10-03 16:01] odscjames commented on #225
Part 1 done!

Part 2: Think I've worked out a solution in code! P.R. is currently open

[2018-10-09 08:59] odscjames commented on #223
Discussion with @kindly  and agreed approach:

Basic filters, 2 new command line arguments:
  *  filter field
  *  filter value

First version, field will be top level fields only but in future this could be JSON paths.

Also, add a new command line argument
  *  file prefix
that automatically prefixes all files with a string.

[2018-10-09 09:01] odscjames opened #239 "More Complex Filtering"
#223 adds basic filtering.

Could be good to add more complex filtering as a command like argument; use something like https://github.com/Yupeek/booleano ?

(Double check user need; so far all the user needs I've seen are meet by simple filtering)

[2018-10-18 11:28] odscjames opened #243 "urllib3 versions breaking master Travis"
Master is currently broken on Python 2.

This warning comes up:

    RequestsDependencyWarning: urllib3 (1.24) or chardet (3.0.4) doesn't match a supported version!

urllib3 1.24 was released 2 days ago. Apparently, according to https://github.com/requests/requests/issues/4673#issuecomment-395069592 it's policy to wait a week or two and then bump up the supported version.

But in the meantime, our

[2018-10-18 12:33] odscjames commented on #243
If I delete virtualenv, recreate, pip install and run in breaks.

If I forcibly reinstall requests it works fine.

    pip install --force-reinstall requests

!!!!!!!!!!!

[2018-10-18 13:46] odscjames commented on #243
If I add the force-reinstall line to travis.yml it works but that doesn't feel like a good solution

[2018-10-18 13:55] odscjames commented on #243
Ok WTF

Create python2 virtual env, run tests, see fail, run "pip freeze", see

    urllib3==1.24

Run the --force-reinstall line.

    urllib3==1.23

And it works

[2018-10-18 14:43] odscjames commented on #243
AGGH OK

https://github.com/OpenDataServices/flatten-tool/pull/244

install req_dev was not loading urllib3 req from requests due to 2 problems. Instead it was loading
urllib3 req from coveralls and getting the latest, which broke it on python 2.

So fixed those 2 problems .... but that seemed not to be enought! We also had to add locking urllib3 to a known version number in req_dev.

[2018-10-18 15:12] #243 closed

[2018-10-18 17:36] jpmckinney commented on #26
Do I understand correctly? e.g.:

Input:

[code]

Current output:

main.csv:

[code]

Desired output:

main.csv:

[code]

a.csv

[code]

Note: Running unflatten with the above produces:

[code]

[2018-10-18 17:46] jpmckinney commented on #28
Rather than add native support for multiple formats into this tool, is it so much effort to open the output Excel file in Google Sheets, LibreOffice, etc.? And with other formats as the input file, is it so much effort to instead export from Google Sheets, LibreOffice, etc. as an Excel file?

If you want to cheat on native support, and if LibreOffice or Gnumeric are installed, then you can use the

[2018-10-18 17:49] jpmckinney commented on #30
Seems to have been done in 07431584. Can be closed

[2018-10-18 18:01] jpmckinney commented on #32
Related to #26, which also depends on how to best represent simple arrays.

The current behavior is to put semi-colons between values, but if there is only one value, then the array is lost in the round-trip. The simplest solution might be to add a final semi-colon, but this creates a new edge case, if the last value in an array was null or empty in the original data.

I think the preferred soluti

[2018-10-18 18:29] jpmckinney commented on #28
If agreed, then this issue can be closed.

[2018-10-18 18:54] jpmckinney commented on #42
I can't reproduce, even if I omit `--root-list-path` or `-s`:

[code]

Anyhow, can be fixed by overriding `warnings.formatwarning` ([example](https://github.com/open-contracting/standard-maintenance-scripts/blob/master/tests/test_json.py#L94-L98)).

[2018-10-18 19:41] robredpath commented on #30
Thanks @jpmckinney

[2018-10-18 19:41] #30 closed

[2018-10-18 19:44] jpmckinney commented on #62
In [agate](https://github.com/wireservice/agate), this is implemented using [Babel](http://babel.pocoo.org/). In csvkit (which uses agate), users simply set a `--locale` option on the command-line, and numbers are appropriately formatted.

[2018-10-18 19:45] robredpath commented on #28
@jpmckinney this is very much an issue that signals an ambition rather than something we're actively attending to. It's a 4-year-old issue with the most recent activity 2 years ago, after all!

We'd still like to support open formats as a value statement, but I'll be the first to note that we've had very little demand for this from real users. However, we've had a few cases where LibreOffice has b

[2018-10-18 19:50] jpmckinney commented on #62
I assume this would only be relevant for the CSV format.

JSON doesn't support locales (you can't e.g. use a common rather than a point when expressing a number like `"amount": 1,234`).

And with Excel, doesn't it display numbers according to their system's locale?

[2018-10-18 19:54] jpmckinney commented on #64
This issue is quite old, and the docs have improved since then. I think it can be closed, and more specific issues (of which some already exist) can be created in follow-up.

[2018-10-18 19:55] jpmckinney commented on #83
I don't know what this means?

[2018-10-18 20:05] jpmckinney commented on #84
Seems to have been fixed and issue can be closed:

[code]

`ocid` round-trips without issue.

[2018-10-18 20:11] jpmckinney commented on #97
Seems to have been fixed and this issue can be closed:

[code]

`ocid` becomes string.

[2018-10-18 20:15] jpmckinney commented on #99
The test seems to have unlikely input. Why would testA be specified in both the main sheet and the testA sheet? This seems like an edge case, where the current behavior is reasonable.

[2018-10-18 20:20] jpmckinney commented on #101
I don't know that it should be flatten-tool's responsibility to create such tables. They can be generated easily enough when needed, and there are relatively few uses for such tables. I think it's better for flatten-tool to stay focused on `flatten` / `unflatten` and generating empty output from schema (`create-template`).

[2018-10-18 20:48] jpmckinney commented on #118
I confirm that, using Excel for Mac version 16.16, I can't enter a sheet name longer than 31 characters (`award_items_additionalClassifications` being 37 characters).

If I change `make_sub_sheet_name` to not truncate at all, I can still open the Excel file, but I see errors, and the sheet name is truncated to 31 characters (`awards_items_additionalClassifi`).

Note that, even with truncation of p

[2018-10-18 21:03] jpmckinney commented on #122
Can a public test file be uploaded to this issue?

[2018-10-18 21:06] jpmckinney commented on #128
In what way are the tests problematic?

If the issue is that incorrect encoding causes an exception, we can also provide the list of encodings in the error message ([example](https://github.com/open-contracting/ocdskit/blob/master/ocdskit/cli/__main__.py#L53-L58)).

[2018-10-18 21:08] jpmckinney commented on #135
Instead of limiting to <2.4, the code now supports >=2.5. I believe this can therefore be closed.

[2018-10-18 21:08] andylolz commented on #28
No – I did some work on this in #204. But everything above sounds good.

[2018-10-18 21:11] jpmckinney commented on #152
I see https://flatten-tool.readthedocs.io/en/latest/unflatten/#metadata-tab, whose existence suggests that this issue can be closed.

[2018-10-18 21:13] jpmckinney commented on #158
This seems like expected behavior rather than a bug. Otherwise, it becomes impossible to intentionally have an empty string at the end of a list. It seems like the appropriate solution would be to simply delete the trailing semi-colon if you don't intend to have an extra item in the list.

[2018-10-18 21:16] jpmckinney commented on #174
Rename issue to be about CSV filenames?

[2018-10-18 21:33] jpmckinney commented on #202
I believe this is closed by #216.

[2018-10-18 21:36] andylolz commented on #202
Agreed! Closing.

[2018-10-18 21:36] #202 closed

[2018-10-18 21:39] jpmckinney commented on #205
It was deprecated on the 2.4 branch https://bitbucket.org/openpyxl/openpyxl/commits/72475d22347a32e9c7237e67d7f0c9cb765c9d3f

So, should be safe to update, as we require >=2.5 in setup.py

[2018-10-18 21:46] jpmckinney commented on #223
Is this closed by #235 and #240?

[2018-10-18 21:47] jpmckinney commented on #225
Is this closed by #235 and #237?

[2018-10-18 21:47] jpmckinney commented on #226
Is this closed by #235 and #238?

[2018-10-18 21:49] jpmckinney commented on #227
This will be closed by #241

[2018-10-18 21:51] jpmckinney commented on #232
FWIW I like flake8, and I don't see a special reason to use prospector instead. flake8 is far more common across projects.

[2018-10-18 22:05] jpmckinney opened #252 "Delete stale branches"
I think these have been superseded and can be deleted:

* grou (empty branch)
* 146-sort-xml (changes version)
* 64-docs (superseded by #123)
* sphinx-docs

These seem abandoned or irrelevant:

* hypothesis

[2018-10-18 22:06] jpmckinney commented on #186
Presumably this issue applies to Excel as well, not only to CSV?

[2018-10-18 22:10] jpmckinney commented on #145
Noting that #144 was merged.

[2018-10-18 22:26] jpmckinney opened #253 "Issues in documentation"
I'll update this issue as I identify more, while reading the docs.

## All

* [x] Typos #257
* [x] Backticks #258 (builds on #257)
* [x] Other grammar and factual fixes (builds on #258)

## examples.rst

* [ ] [Arrays with arrays](https://flatten-tool.readthedocs.io/en/latest/examples/#arrays-within-arrays) seems like it was started but abandoned

## flatten.rst

* [x] Refers to default output nam

[2018-10-18 22:28] jpmckinney opened #254 "Add flattentool to pypi and change installation instructions to use pip"
This seems appropriate, now that the tool is versioned. `flattentool` is an available name on pypi.

[2018-10-19 08:08] andylolz commented on #28
I meant everything above (with the exception of [closing the issue](https://github.com/OpenDataServices/flatten-tool/issues/28#issuecomment-431114551)). I was being intentionally vague because I think you both make good points and I don’t know the best solution. But I wanted to correct the statement that no-one had worked on adding support for extra formats.

[2018-10-19 13:47] odscjames commented on #64
+1 on closing this.

[2018-10-19 13:56] odscjames commented on #83
Something to do with https://github.com/OpenDataServices/flatten-tool/blob/master/flattentool/input.py#L212 ? That explicitly sets Parser to None, so if you want to set parser you have to set the attribute, as is done in https://github.com/OpenDataServices/flatten-tool/blob/master/flattentool/__init__.py#L215

[2018-10-19 15:29] jpmckinney commented on #83
Hmm, so what does it mean in terms of user experience? The issue is labeled as a bug, so I assume there must be a bug that is noticeable from userspace.

[2018-10-19 19:01] jpmckinney commented on #99
Nevermind - rollUp isn't implemented as I would have expected. It seems weird to me that rollUp creates a situation in which you can enter data for the same field in two place. That seems bad.

[2018-10-19 20:04] jpmckinney opened #261 "Line-wrap commands in documentation"
The included cmd.txt files almost always extend beyond the available width, making it difficult, as a user, to see the full command, and to ensure that all relevant parts of the command are visible.

It would be better to either change the presentation (e.g. CSS) to wrap this text, or to change the text in cmd.txt files to break onto multiple lines (e.g. with backslash at ends of lines).

[2018-10-19 20:15] jpmckinney opened #262 "Flatten: Behavior of --output-name"
In #256 I respect the current behavior.

However, consider: a user first runs a command setting `--output-name flat`, such that `--output-format` defaults to `all`. They get an XLSX file named `flat.xlsx` and a `flat` directory.

Then, the user decides they only want XLSX. They add `--output-format xlsx`. They now get an XLSX file named `flat`. (If the earlier directory still exists, they get an e

[2018-10-19 20:28] jpmckinney commented on #145
I notice that `--root-is-list` is now available on unflatten, which means this issue can be closed.

[2018-10-19 21:32] jpmckinney opened #264 "Unflatten: Should error if both --base-json and --root-is-list are set"
`--base-json` is quietly ignored if `--root-is-list` is set.

I understand the [intention to not raise errors](https://flatten-tool.readthedocs.io/en/latest/developerguide/), but I assume this intention is scoped to the conversion of tabular data to JSON data (and vice versa) – not to the interpretation of command-line options.

I think users should be notified when they accidentally (or otherwise

[2018-10-19 21:35] jpmckinney opened #265 "Unflatten: Should error if --root-list-path would overwrite --base-json"
I justify errors when interpreting command-line options in #264.

I can't imagine a scenario where a user would intentionally want to overwrite a key in base.json, but couldn't simply remove the key from base.json. I know that the docs [warn about this behavior](https://flatten-tool.readthedocs.io/en/latest/unflatten/#base-json), but it would be a better user experience to simple see an error, rat

[2018-10-19 21:39] jpmckinney commented on #264
`--root-is-list` is also inconsistent with `--root-list-path`

[2018-10-19 21:41] jpmckinney opened #266 "Unflatten: Should error if --convert-titles is set but --schema is not"
I justify errors when interpreting command-line options in #264.

Right now, you get an error anyway, but it's meaningless to a non-expert user:

[code]

[2018-10-19 21:46] jpmckinney commented on #253
This isn't quite true. JSON Pointer is simply a "string syntax for identifying a specific value" in JSON. Whether the identified value is extracted or inserted – JSON Pointer has no opinion.

[2018-10-22 10:15] #84 closed

[2018-10-22 10:15] robredpath commented on #84
Great, thanks @jpmckinney

[2018-10-23 15:09] drkane opened #269 "Return results from unflatten function"
It would be useful to grab the results of `unflatten` as a variable, rather than them being written to disk. See pull request #267. The suggested trigger for this is if `output_name` passed to `unflatten` is None.

Possible complications include:
 - ensuring that value is returned in both the case of xml and json being specified?
 - ensure the return value is done last, so that other actions are s

[2018-10-24 13:05] jpmckinney opened #271 "Consider renaming --remove-empty-schema-columns"
The name seems unclear, because schemas don't have columns (neither does JSON input data).

Shouldn't it be something like exclude/omit/ignore blank/missing/unused, e.g. `--exclude-unused` or `--exclude-unused-schema-fields`?

Also, does the option make sense if no schema is specified? If not, then the help text should say so. The help text should also mention the omission of sheets (only mentions

[2018-10-24 14:31] jpmckinney commented on #271
cc @odscjames re: #268

[2018-10-25 10:02] odscjames commented on #271
Good point, will do.

No, but spreadsheets do and that's what is being dropped. And it's the column from the schema .... I chatted to folk here, and we think we're ok with the name. It's a complex operation, so it's always going to be hard to get a name that is clearly understood at first read. As long as we make sure it's very well documented both in the help and sphinx docs, that's the more impo

[2018-10-25 11:30] #271 closed

[2018-10-25 12:52] jpmckinney commented on #253
@odscjames Given that the documentation is actively being edited, I'm concerned that my four PRs (linked above) will be put in conflict. I don't think any of them should be controversial or long to review.

[2018-10-25 18:02] jpmckinney opened #273 "Improve docs for --remove-empty-schema-columns"
Let's say Morgan flattens a JSON file containing 3 fields to a 3-column CSV. Morgan then wants to have titles from a schema, and so re-runs the command with `--use-titles`, specifying a schema describing 20 fields. Morgan might expect the output to be a 3-column CSV again, but instead gets 20 columns across many CSVs. Morgan runs `--help` to see if another option can help. The docs show:

This see

[2018-11-20 12:05] #205 closed

[2018-11-21 13:08] #42 closed

[2018-11-21 13:08] #54 closed

[2018-11-21 18:59] romifz opened #280 "Flatten: behaviour for empty arrays"
Using the flattening tool with [this sample OCDS package](https://gist.github.com/romifz/7fd9e4323d7aaff4ed1240a0b7eceb69), the schema [here](http://standard.open-contracting.org/latest/en/record-package-schema.json) and the following options:

[code]
produces an empty `compiledRelease/awards` column in the `records.csv` file.

The cause, apparently, is that there is an empty `awards` array for on

[2018-11-22 09:40] kindly opened #282 "Docs for truncated sheet names."

[2018-11-22 15:11] odscjames opened #283 "Add long_description to setup.py"
Now we are on pypi we need it - https://pypi.org/project/flattentool/

[2018-11-22 15:12] odscjames opened #284 "Can requests be a core requirement and not an extra?"
Discussion started on call be with @kindly

[2018-12-10 15:30] robredpath commented on #115
@jpmckinney I think the intention here is to facilitate use of `.ods` files instead of `.xlsx` files, and conversion of both to JSON (or vice-versa) rather than conversion between the two flat types.

If someone wanted to publish using an open flat format (ie, `.ods`), we don't want to discourage that by requiring that they first convert to a less-open format before they can use our tooling.

Howe

[2018-12-10 16:15] andylolz commented on #115
Happy to be corrected… But I’m not sure XLSX is actually a less-open format
https://en.wikipedia.org/wiki/Comparison_of_Office_Open_XML_and_OpenDocument

[2018-12-10 16:36] jpmckinney commented on #115
Conversion would just be running one command before the flatten-tool command, which I don't think is a big enough barrier to discourage users. For LibreOffice users:

[code]

Or:

[code]

[2018-12-11 13:32] odscjames commented on #185
Not sure about changing the default behaviour.

So I've done this in 2 parts again.

The first part adds the options but leaves the default behaviour unchanged. #285

After that's merged in,  we can think about changing the default.

[2019-01-08 17:41] BibianaC commented on #220
@robredpath I had a conversation with @kindly about this and he suggested not to touch the flatten-tool and do it directly in GN.

[2019-01-10 14:30] duncandewhurst opened #286 "Broken in python 2.7?"
Reported by @romifz

[2019-01-10 14:44] kindly commented on #286
I think we need more specifics:

https://flatten-tool.readthedocs.io/en/latest/getting-started/?highlight=2.7#python-version-support

[2019-01-10 15:15] romifz commented on #286
I found that my issue was with the OCDSKit and not with the flatten tool, I must have confused the documentation pages. Sorry for the confusion!

[2019-01-10 17:15] jpmckinney commented on #286
OCDS Kit is only tested on Python 3.6 – no plans to support 2.7, which is almost a decade old.

[2019-01-10 18:43] romifz commented on #286
I understand. It would be good though if we can state the Python required/tested version somewhere.

[2019-01-11 01:43] jpmckinney commented on #286
Good idea – I've added a Python version badge to the readmes.

[2019-01-28 08:31] #286 closed

[2019-01-28 08:53] Bjwebb commented on #232
I'd be happy with a switch to flake8.

History is that this predates my usage of flake8 in Travis. Prospector is designed to be used with https://landscape.io/, so its not in Travis. The main advantage of Prospector/Landspace is they allow you to track that a code base doesn't get worse, even if it has some issues. However, perhaps it is better to fix those issues.

[2019-02-20 13:53] odscjames opened #287 "openpyxl 2.6.0 breaks Flatten-Tool!"
Example: https://travis-ci.org/OpenDataServices/flatten-tool/builds/495995349

[2019-02-20 15:25] odscjames commented on #287
We can fix this quickly by requiring 2.5 -  do we want to do this? See branch "fix-travis".

Making it work with both 2.5 and 2.6 might be difficult - would we need to make sure Travis ran tests against both versions?

[2019-02-27 10:53] odscjames commented on #287
For now, Flatten-tool is locked to 2.5

But leaving this ticket open as we will have to deal with this at some point!

[2019-03-06 12:20] odscjames commented on #185
This has been merged to master, and there is now a --no-deprecated-fields option to create-template.

[2019-03-07 09:47] Bjwebb commented on #287
The latest openpyxl release has a [useful fix for IATI CoVE](https://github.com/OpenDataServices/cove/issues/977#issuecomment-470455662), so it would be useful to upgrade to 2.6.1.  I'm happy to take a look into this at some point.

[2019-03-13 08:38] Bjwebb commented on #177
No, I think that's a slightly different issue.

[2019-03-13 10:17] Bjwebb commented on #177
I've done some work to at least make this consistent within a particular file. ie. `transaction` will have its own sheet if there is more than one transaction for any activity in a file, otherwise it will appear on the `iati-activity` sheet.

Dev branch: `177-xml-path-consistency`
CoVE demo link: http://flattentool-177-xml-path-consistency.dev.cove.opendataservices.coop/

[2019-03-13 17:08] jpmckinney commented on #131
I'd be interested to know of technical proposals to address this issue.

[2019-03-15 08:55] stevieflow commented on #177
Thanks @Bjwebb - I can see that working through conversion of the sample file, as that has more than one transaction.  I can confirm that these are all then converted through to their own sheet

[2019-03-19 17:24] robredpath opened #289 "Allow user to set indent level for JSON"
See https://github.com/OpenDataServices/cove/issues/1105

Relevant code is https://github.com/OpenDataServices/flatten-tool/blob/361f2d0faf17546c18681917c26146cc63e92bc7/flattentool/__init__.py#L136-L273

[2019-03-19 20:49] jpmckinney opened #290 "Unflatten: Restore cellsourcemap and headingsourcemap tests"
These tests were added to the root-is-list example in the docs, where they were irrelevant and confusing from a docs UX perspective.

#263 removed these tests. They should be re-added under a new example that does not appear in the docs (or in an appropriate section of the docs).

[2019-03-19 20:52] jpmckinney opened #291 "Use consistent style for options in documentation"
The docs sometimes have e.g. `-f csv` and other times `-f=csv`. My experience with people unfamiliar with the command-line is that they get tripped up on which tokens need to be separated by spaces, which need to be concatenated with equal signs, commas, etc.

A consistent style (preferably just using spaces and not equals) would avoid confusion and uncertainty about when to use spaces or other ch

[2019-03-19 20:58] jpmckinney opened #292 "Flatten: Error or at least warn if there is no root-list-path key"
The docs have:

This is a common gotcha. If `--root-list-path` isn't specified, I'd prefer an error if there is no `main` key. If `--root-list-path` is specified but there is no matching key, I can see an argument in favor of just issuing a warning instead of an error.

[2019-03-19 21:00] jpmckinney commented on #141
I think there's an issue in the error message not disambiguating between 'share' being missing from schema versus being the wrong type. The error message should be improved.

[2019-03-20 16:40] stevieflow commented on #177
I noticed something via this activity

http://d-portal.org/q.xml?aid=US-GOV-1-SD-AID-FFP-G-16-00035

In each transaction there are two sectors, but from different vocabularies (which is in keeping with the standard rules, it seems)

If you flatten this, the transaction sectors are pushed to a new sheet.  But - given that this particularly activity has multiple transactions, there's then no way to

[2019-03-21 05:40] Bjwebb commented on #287
I've fixed this in https://github.com/OpenDataServices/flatten-tool/pull/294, which requires `>=2.6` instead.

[2019-03-22 05:06] Bjwebb opened #295 "How to flatten when identifier is missing"
When nested identifiers are missing in the source data, then data is pushed onto sheets without enough information about what parent it related to. (See example about sectors within transactions below). Notably it is not possible to unflatten the data back into the original shape.

This is particularly a problem for IATI, because the standard doesn't specify such identifiers for all nested objects

[2019-03-22 05:06] Bjwebb commented on #177
@stevieflow That's right, I've made a new issue for that https://github.com/OpenDataServices/flatten-tool/issues/295

[2019-03-22 13:08] jpmckinney commented on #295
This is an issue for OCDS, as (1) not all arrays of objects have identifiers and (2) identifiers are not always required in that context (and might be missing anyhow).

[2019-03-29 14:35] jpmckinney opened #297 "Accept input from standard input for flatten subcommand"
Work was done in #246 but never reviewed – it can likely be taken up again.

[2019-04-02 09:59] Bjwebb commented on #186
Yes, I can confirm this affects xlsx too.

[2019-04-04 07:47] Bjwebb opened #299 "Drop Python 2 support"
We already discourage the use of Python 2.

At some point, we will want to drop it entirety. This is most likely to be due to a dependency we use dropping Python 2 support  - openpyxl 3.0 and py.test 5.0 both plan to do this.

[2019-04-08 10:34] robredpath opened #301 "Add option: choose which arrays should be expanded into tables"

[2019-04-08 10:37] robredpath opened #302 "Add configuration: choose which fields should be preserved"
Right now, flatten-tool will preserve every field that's in the source data. If a data source contains a lot of fields that aren't relevant to a particular use case (eg publisher-specific fields on top of standard fields), then this makes the output data harder to work with.

We should add the ability for a user to specify which fields they want to preserve. During sprint prep, we discussed that t

[2019-04-24 13:13] odscjames opened #304 "Should we have req.in. req_dev.in files? and req*.txt files locked to specific version?"

[2019-04-29 06:02] #217 closed

[2019-04-29 06:13] Bjwebb commented on #304
An alternative to this is pipenv which https://github.com/pwyf/aid-transparency-tracker uses.

[2019-04-30 14:03] Bjwebb commented on #115
@andylolz The standardisation of OOXML was very controversial at the time. e.g. https://arstechnica.com/uncategorized/2008/10/norwegian-standards-body-implodes-over-ooxml-controversy/ Many considered the spec large and bloated, and difficult to implement, and Microsoft Office's XLSX files don't necessarily follow exactly what it says.

[2019-05-21 18:48] jpmckinney opened #306 "Translation support: Use (truncated) titles for sheet names"
… and CSV filenames. This can either be the default behavior of `--use-titles`, or an additional flag.

[2019-05-21 18:48] jpmckinney opened #307 "Translation support: Use translated code titles for code values"
… if `--schema` is provided. This can either be the default behavior of --use-titles, or an additional flag.

[2019-05-29 13:05] rhiaro commented on #302
Implementing this by adding a cli argument that lets the user specify the JSON paths to include as a file, with one path per line.

* Paths need to be exact matches to a field in the data, not partial fieldnames, ie. `tender/doc` will *not* match `tender/documents`.
* Paths to a field for which the value is an object (or array of objects) will automatically include all child paths. To be selective

[2019-05-29 14:03] jpmckinney commented on #302
Sounds good! The use case for that last flag is very narrow, and I don't know a specific user asking for it - so agree that it's not needed.

[2019-05-30 19:52] rhiaro commented on #301
When flattening, multiple sheets/csv files might be generated if there are nested objects in the JSON. The user doesn't always want extra sheets, but in some cases may want the objects all in the main sheet with their full JSON path as column headings, like what `rollup` does if you include it in a schema.

([rollup docs](https://flatten-tool.readthedocs.io/en/latest/create-template/#rolling-up))

[2019-05-31 08:43] jpmckinney commented on #301
Yes!

There *are* use cases for rolling up multi-item arrays (i.e. preserve array indices in column headings) but these have not been confirmed by actual users.

Sent from mobile

[2019-06-03 14:17] duncandewhurst commented on #307
Worth noting that this will break round tripping the data

[2019-06-03 14:39] jpmckinney commented on #307
Can't we have a parallel flag to convert code titles back to codes? We have `--use-titles` on the `flatten` command and `--convert-titles` on the `unflatten` command to preserve round-tripping.

We might need another flag to set the path to the codelists directory (unless we assume that the codelists directory is relative to the path given by `--schema`).

[2019-06-04 10:01] kindly commented on #307
My preference for this would be some kind of preprocessing of the JSON before flattentool sees it that could built into ocdskit and also for the reverse.

I worry about putting too many features like this into flattentool as it is centralising a point of failure and error reporting; invalid codelists, codelists that are now not web accessable, codelist caching for speed need to be considered.

Als

[2019-06-04 15:10] duncandewhurst commented on #307
Noting my other concern which we discussed on our call:

Some publishers use flatten-tool in their publication process and adding this feature could result in 'source' OCDS data which uses code titles rather than codes, which would then be incompatible with other OCDS tools, methodologies etc.

[2019-06-06 06:34] mrshll1001 opened #308 "Error with date placement"
From the OCDS CRM

in the flatten tool. Apparently the tool is putting under
tender/tenderperiod the dates from tender/enquiryperiod.

prepared.

[2019-06-10 16:04] jpmckinney commented on #308
This issue can be closed, as it could not be reproduced, per updates in CRM.

[2019-06-10 18:25] #308 closed

[2019-06-10 23:51] jpmckinney commented on #307
Moved to https://github.com/open-contracting/ocdskit/issues/96

[2019-06-10 23:51] #307 closed

[2019-06-11 11:24] #302 closed

[2019-06-14 12:23] rhiaro commented on #301
Implementation so far works as follows:

* `--rollup` can be passed with no argument, with one or more JSON path strings as arguments, or with a line-separated file of JSON strings attached.
* If there's no argument and no schema, or if there is no argument and a schema but the schema has no `rollUp` attribute, flattening succeeds but no rolling up takes place. (TODO: add a warning)
* If there's a

[2019-06-14 14:17] jpmckinney commented on #301
Sounds good! And agreed to keep the `/0/` in. For the third bullet ("If there's an argument and a schema with rollUp, the rollup fields from the schema take precedence; the direct or file inputs are ignored."), I think a warning should be issued if inputs are ignored.

[2019-06-20 07:13] rhiaro commented on #301
Is it okay for `rollup` input to be restricted to properties on the root object? Eg. if the rolled up object has 5 of its own fields, they will all be included in the main sheet, you can't specify only specific fields of the rolled up object to include by passing them to `rollup`. That is (in the testing cafe use case), you can pass `dishes` to get all of the properties of the dish, but not `dishe

[2019-06-20 16:06] jpmckinney commented on #301
That makes sense. Let's consider a different scenario:

Let's say there's a dataset where every contract has at most one related process. So, we want to roll up the related process into the `contracts` sheet. Does the current roll-up feature allow that?

This is an example where the property to roll-up isn't on the root (release) object.

[2019-06-25 07:51] rhiaro commented on #301
The original rollup feature has never worked on non-root objects, it is only possible to rollup into the main sheet, so unfortunately the extended rollup feature also can't do this.

It will be quite challenging to implement, so is it okay if we log this in an issue for future work? (We can pick it up in the new process if it's a priority.)

[2019-06-25 13:23] jpmckinney commented on #301
Sounds good! Please create the new issue.

[2019-06-25 14:34] rhiaro opened #311 "Rollup subsheets"
The `rollup` option currently lets fields from single-object arrays be included in the main sheet when flattening (and creating templates). It doesn't work for arrays on child objects, only on the root object. We should extend `rollup` so arrays on non-root/non-main-sheet objects can be rolled up too.

Use case: a `release` has an array of `contracts` and every `contract` has at most one related `

[2019-06-25 14:50] #287 closed

[2019-06-25 15:13] rhiaro commented on #254
It's been added to pip: https://pypi.org/project/flattentool/ but the installation instructions are not updated yet

[2019-06-25 15:19] rhiaro commented on #227
Fixed by https://github.com/OpenDataServices/flatten-tool/pull/268

[2019-06-25 15:19] #227 closed

[2019-06-27 09:38] robredpath opened #312 "Support for Windows users"
During the Researchers/Academics data use training in Nottingham in June 2019, we heard that some potential users of OCDS data who would want flattened representations of the data were Windows users. We should:
- Test whether flatten-tool works without modification on 'bare' Python on Windows and using WSL
- Document any special considerations around installation or running flatten-tool on Windows

[2019-06-27 10:40] robredpath opened #313 "Removing /0/ from paths"
During the Researchers/Academics data use training in Nottingham in June 2019, we heard that the presence of `/0/`s in path names (ie, for the first elements in arrays) made spreadsheets harder to explore - search didn't match where expected, and there was some confusion over what they meant. However, the `/0/` is important for roundtripping, so we don't want to remove it.

I believe that supporti

[2019-06-27 16:21] jpmckinney commented on #313
Like with #307, I think this is putting too much on one tool (flatten-tool), which already has so many options that users are frequently unaware of them.

I think we should at minimum do:

1. Add instructions (location TBD) on using `sed`
    * Users are already copy-pasting commands into the command-line to use flatten-tool, without necessarily having an understanding of the command-line or flatt

[2019-07-03 09:59] stevieflow commented on #115
In terms of input format , then ods is a standard adopted by UK Gov (alongside 360, IATI & OCDS!) - https://www.gov.uk/government/publications/open-standards-for-government/sharing-or-collaborating-with-government-documents - which is a driver to this issue

[2019-07-08 09:45] robredpath commented on #301
![](https://github.trello.services/images/mini-trello-icon.png) [flatten-tool - Add option: choose which arrays should be expanded into tables](https://trello.com/c/uFueamEb/26-flatten-tool-add-option-choose-which-arrays-should-be-expanded-into-tables)

[2019-07-12 22:32] jpmckinney commented on #295
The Government Transparency Institute ran into issues when OCDS data was missing identifiers (e.g. a publisher omits a required `id` field). Their experience was that Flatten Tool would mint new identifiers, without any feedback to the user, which made analysis more difficult.

I haven't verified that Flatten Tool has this behavior, but if so, there should be feedback to the user.

[2019-07-16 06:55] robredpath commented on #295
Thanks for the feedback, @jpmckinney . Between your previous comment and this one, I think this is something that should be given some attention relatively soon. I'll add something to I&R.

[2019-07-16 06:58] robredpath commented on #295
![](https://github.trello.services/images/mini-trello-icon.png) [flatten-tool behaviour when ids are missing needs improving and/or documenting](https://trello.com/c/uFu6fZkt/38-flatten-tool-behaviour-when-ids-are-missing-needs-improving-and-or-documenting)

[2019-07-17 19:14] romifz opened #315 "Order of columns when flattening"
Honduras ONCAE is using the flatten-tool to provide a flat version of their OCDS publication (see [ONCAE's Data Portal](http://oncae.gob.hn/datosabiertos)).

@juanpane noted that the columns from the same section may not be side by side in in the xlsx output, as in the image:

![Screenshot at 2019-07-17 15-02-34](https://user-images.githubusercontent.com/1881108/61404078-a3ef9080-a8a4-11e9-8e10-38

[2019-07-19 22:42] jpmckinney opened #316 "Explore solutions to memory and I/O bottlenecks"
Based on [user feedback](https://docs.google.com/document/d/1aEJln5OaWNQvQwz44Wj8aNbndmSq_43usg7G5VFLNLs/edit), I spent some time [identifying bottlenecks](https://docs.google.com/document/d/19b1_rB42CQzKIPo7VvAiEfn6HVhNKLtXMgF197_YYPw/edit) in Flatten Tool, which are, at a high-level, in order of priority: memory, I/O and CPU. From the bottlenecks, I proposed some solutions in that document.

The

[2019-07-27 14:24] rhiaro opened #317 "Separate arguments for rollup input types"
`--rollup` can accept a string (JSON path), file path or True (when a schema with `rollUp` is used).

Should separate these out in to separate arguments. Proposal:

* `--rollup-from-file=path/to/file`
* `--rollup-field=field [--rollup-field=another-field]`
* `--rollup-with-schema --schema=path/to/schema.json`

And deprecate `--rollup` with `flatten`.

`--rollup` would still work with `create-templ

[2019-07-31 16:23] duncandewhurst opened #319 "Document hashcomments feature"
Please can we add some documentation to the spreadsheet designers guide on how to use the hashcomments feature.

[2019-08-01 16:25] duncandewhurst commented on #316
![](https://github.trello.services/images/mini-trello-icon.png) [Explore solutions to memory and I/O bottlenecks](https://trello.com/c/AZZdLvbo/58-explore-solutions-to-memory-and-i-o-bottlenecks)

[2019-08-08 09:52] odscjames opened #320 "Add general tests"
In Cove, we used to have "secret tests". We removed these for various reasons - see https://github.com/OpenDataServices/cove/issues/1192

However, it would be good to have "general" tests. These tests should be

- Public to avoid some of the issues with secret tests (only some staff can work on the code, etc)
- Use real data, some good and some bad in some way
- Check the whole output of lib-cove-

[2019-08-08 09:53] odscjames commented on #320
![](https://github.trello.services/images/mini-trello-icon.png) [Add general tests to FlattenTool](https://trello.com/c/RFlHfiWf/62-add-general-tests-to-flattentool)

[2019-08-12 18:30] robredpath commented on #320
I'd like for us to come up with a better name than "general" while we talk about these. I think that would help us be clearer on what we're hoping to test, and what the value of them would be.

Perhaps "end-to-end" tests?

[2019-08-15 15:58] odscjames commented on #320
![](https://github.trello.services/images/mini-trello-icon.png) [Improve standard-search](https://trello.com/c/31F2W1nd/7-improve-standard-search)

[2019-08-15 15:58] odscjames commented on #320
![](https://github.trello.services/images/mini-trello-icon.png) [Improve standard-search](https://trello.com/c/31F2W1nd/7-improve-standard-search)

[2019-08-19 19:46] jpmckinney commented on #292
Noting that if the input is an array (i.e. --root-is-list) then using --root-list-path will cause no output (or warnings) to be written (but it will still take a very long time to run).

[2019-08-20 13:28] jpmckinney opened #321 "Flatten-Tool has no output if MemoryError"
See CRM issue 5026. The `-v` option had to be used to turn on this output. It is not a good user experience to have a command run for a long time without any positive or negative side effects.

I think it'd be a good idea to have `-v` on by default, and to instead require users to opt for quiet output.

[2019-08-22 15:19] Bjwebb opened #322 "Docs say 0.0.0 in the title"
https://flatten-tool.readthedocs.io/en/latest/

[2019-08-22 15:47] Bjwebb commented on #322
This comes from the conf at https://github.com/OpenDataServices/flatten-tool/blob/master/docs/conf.py#L69

I guess there's two approaches:
* Manually change this when we bump the version elsewhere
* Automatically pull this from setup.py somehow

[2019-08-23 16:03] #225 closed

[2019-08-23 16:04] #223 closed

[2019-08-23 16:06] #226 closed

[2019-08-29 16:13] robredpath commented on #321
Agreed, although I'm also wary of the potential for disorientation if a user sees a load of warnings from flatten-tool internals, but the operation that they have tried to carry out has basically worked, and so the warnings can be ignored. For an experienced user, that's no problem - but some of flatten-tool's users are completely new to the command line.

I feel like this is something that we've

[2019-08-29 16:14] robredpath commented on #321
![](https://github.trello.services/images/mini-trello-icon.png) [Make selected improvements to flatten-tool's UI](https://trello.com/c/JrUdKojd/89-make-selected-improvements-to-flatten-tools-ui)

[2019-08-29 16:14] robredpath commented on #317
![](https://github.trello.services/images/mini-trello-icon.png) [Make selected improvements to flatten-tool's UI](https://trello.com/c/JrUdKojd/89-make-selected-improvements-to-flatten-tools-ui)

[2019-08-29 16:21] robredpath commented on #301
@rhiaro the associated Trello card is archived - can this be closed now?

[2019-08-29 16:29] robredpath commented on #315
![](https://github.trello.services/images/mini-trello-icon.png) [Make selected improvements to flatten-tool's UI](https://trello.com/c/JrUdKojd/89-make-selected-improvements-to-flatten-tools-ui)

[2019-09-04 07:29] robredpath commented on #292
![](https://github.trello.services/images/mini-trello-icon.png) [Make selected improvements to flatten-tool's UI](https://trello.com/c/JrUdKojd/89-make-selected-improvements-to-flatten-tools-ui)

[2019-09-05 17:00] Bjwebb commented on #176
From https://github.com/OpenDataServices/flatten-tool/issues/176:

In IATI we also want Organisation spreadsheets to have enough info in a Meta tab to be unflattened correctly. (Most recent discussion at https://github.com/OpenDataServices/cove/pull/1219#issuecomment-528387285)

[2019-09-20 21:09] jpmckinney opened #327 "OCDS: Add instructions on how to generate valid data from spreadsheet"
A Latin American journalists network that OCP is working with (Red Palta) had created spreadsheets with OCDS field paths as column headers, and used the unflatten command. However, by default, this generates data without required fields like `date` and `tag`, etc. There may be other specific issues in getting the data to validate according to the Data Review Tool. I've requested a copy of their sp

[2019-10-18 08:20] odscjames opened #328 "OpenPyxl 3 not suported"
OpenPyxl 3 does not support anything below Python 3.6.

We have to lock to below 3, and do a release so that other libraries that use this can stop crashing :-)

[2019-10-18 11:33] odscjames commented on #328
So, the problem is that in this setup.py we just say openpyxl (Actually we say "above a certain version but that irrelivant for this chat)

A Python 3.6 or 3.7 user installing this library will get Openpyxl 3

A Python 3.5 or 2.7 user  installing this library will get Openpyxl 2.6.4

Fine so far but Problems:

1) Should we be taking care to make sure we test this library against both major version

[2019-10-18 16:05] jpmckinney commented on #328
I think it's okay for apps to require a specific version of Python. Won't that make the problem go away?

As far as testing the app with a specific pair of Python and openpyxl versions, you can set a matrix in Travis to do that: https://docs.travis-ci.com/user/build-matrix/ An example: https://github.com/opennorth/represent-boundaries/blob/master/.travis.yml

It's also possible for setup.py to con

[2019-11-13 21:10] romifz opened #329 "Add separator option for CSV input/output"

[2019-12-05 02:26] duncandewhurst commented on #312
I've just tested on a bare Python 3.7.5 install on Windows and flattening and unflattening the example files from the [OCDS sample data report](https://github.com/open-contracting/sample-data/tree/master/fictional-example) seems to work OK.

I've written up the [install instructions and two simple examples](https://gist.github.com/duncandewhurst/a8330db75b1e35106867a51e169f3e6c) to share them with

[2019-12-05 17:13] Bjwebb commented on #312
Great to hear it works!

In order to make sure this weeks working, we should set up some CI to run the tests on windows for each comit. Appveyor is one such service (and free for public repos), which I looked into for CoVE, but it didn't get merged https://github.com/OpenDataServices/cove/blob/appveyor/appveyor.yml

[2019-12-09 17:45] Bjwebb commented on #312
![](https://github.trello.services/images/mini-trello-icon.png) [Set up Windows CI for flatten-tool](https://trello.com/c/yAozfr7f/58-set-up-windows-ci-for-flatten-tool)

[2019-12-09 17:45] Bjwebb commented on #312
![](https://github.trello.services/images/mini-trello-icon.png) [Set up Windows CI for flatten-tool](https://trello.com/c/yAozfr7f/58-set-up-windows-ci-for-flatten-tool)

[2019-12-10 15:01] sentry-io[bot] opened #331 "Error in openpyxl — IndexError: list index out of range"
This only affects certain files, but does seem to keep recurring.

Sentry Issue: [COVE-E5](https://sentry.io/organizations/open-data-services/issues/1359438471/?referrer=github_integration)

[code]

[2019-12-10 15:04] Bjwebb commented on #331
![](https://github.trello.services/images/mini-trello-icon.png) [CoVE 500 error due to problem in openpyxl or flatten-tool](https://trello.com/c/xt2Gl3ge/25-cove-500-error-due-to-problem-in-openpyxl-or-flatten-tool)

[2019-12-10 15:08] Bjwebb commented on #331
The error looks like this in CoVE:
![Screenshot from 2019-12-10 15-06-29](https://user-images.githubusercontent.com/634/70541307-b2de2480-1b5e-11ea-8b13-ae7be57d9cc8.png)

I'm not sure who this is affecting. I checked one of the files, and it looks like sample data. @KDuerden  @drkane Have you run into this?

[2019-12-10 17:25] KDuerden commented on #331
Yes it happens a lot. Usually fixed by copy and pasting the data into a new file.
Recently had it occur with a template with hashComments too - but not had a chance to see what fixes it. I can supply examples if that is helpful.

[2019-12-11 10:53] Bjwebb commented on #331
Yes, examples would be useful. I can go check the last 7 days myself, but not any earlier, and your extra context is probably useful.

Upload files to this issue if they can be public, otherwise to a plan.io issue.

[2019-12-11 12:58] KDuerden commented on #331
Here is conversion template which gives the error message: https://dataquality.threesixtygiving.org/data/44ecd516-e962-477e-84d6-13214e05ccb8

I've just recopied this all into a new file (same content & formulas/structure) and it passes: https://dataquality.threesixtygiving.org/data/aaf924aa-1b39-4c97-b2d2-c689bb7b4c31

I've seen examples of this happening with publisher data which are just single

[2019-12-11 16:22] Bjwebb commented on #331
[Example_360_conversion_template_2019_notworkinginCove.xlsx](https://github.com/OpenDataServices/flatten-tool/files/3951394/Example_360_conversion_template_2019_notworkinginCove.xlsx)
[Template_for_testing_Cove_works_in_Cove.xlsx](https://github.com/OpenDataServices/flatten-tool/files/3951395/Template_for_testing_Cove_works_in_Cove.xlsx)

[2019-12-11 21:16] jpmckinney commented on #312
You might also consider GitHub Actions: https://github.com/OpenDataServices/flatten-tool/actions/new

[2019-12-23 11:01] Bjwebb commented on #176
![](https://github.trello.services/images/mini-trello-icon.png) [Create Metatab when converting org XML to spreadsheet](https://trello.com/c/h1cKKx1E/16-create-metatab-when-converting-org-xml-to-spreadsheet)

[2019-12-23 11:08] Bjwebb commented on #115
![](https://github.trello.services/images/mini-trello-icon.png) [Write tests for flatten-tool .ods support + merge + deploy to CoVEs](https://trello.com/c/qDgyY63Z/4-write-tests-for-flatten-tool-ods-support-merge-deploy-to-coves)

[2020-01-10 19:37] romifz commented on #312
It would be great to add these instructions to the docs. Last week I talked with Andrés de la Rosa from DGCP (Dominican Republic) and he said having instructions for Windows would have been useful for them.

[2020-01-14 10:11] michaelwood commented on #299
Now that Python 2 (as of Jan 2020) is officially EOL it seems as good a time as any to drop support for Python 2.

Related #328

[2020-01-15 13:00] odscjames commented on #299
Agreed.

@jpmckinney Do you know if this would cause any issues for OCDS users?

[2020-01-15 14:36] jpmckinney commented on #299
I don’t know any specific cases; all OCDS tools in OCP repos are Python 3. They can still install old versions if they are stuck on Python 2, at least. I’d drop support.

[2020-01-16 12:24] odscjames commented on #328
Note when we drop Python 2, we will still have an issue here.

OpenPyxl 2 is Python >=3.5, so this repo currently supports Python 3.5.

OpenPyxl 3 is Python >=3.6.

So we need to check this issue against the case that Python 3.5 is used.

[2020-01-16 14:48] Bjwebb commented on #328
I think we should drop 3.5 support soon, but fisrt we need to upgrade some of our CoVE servers.

[2020-01-16 16:29] jpmckinney commented on #328
FYI, for other OCDS tools, we've already stopped testing on 3.5 as it'll be EOL this summer.

[2020-01-23 07:14] odscjames commented on #299
Merged to Master, will be in next release

[2020-01-23 07:14] #299 closed

[2020-01-28 20:16] jpmckinney opened #337 "Unflatten: Clearer warning if one column is a child of another"
See OCDS CRM issue 5587.

On the awards sheet of an Excel file, the user had one column header of awards/0/value (instead of awards/0/value/amount) and another of awards/0/value/currency.

The warning was "Column awards/0/value/currency has been ignored, because it treats awards/value as an object, but another column does not."

From this message, it was not clear to the user how to fix the issue.

[2020-03-10 16:58] Bjwebb opened #341 "Create metatab when running create-template"

[2020-03-11 14:28] Bjwebb commented on #176
I've started looking at a subset of this work, which is a metatab produced by create-template, as its important for 360Giving https://github.com/OpenDataServices/flatten-tool/issues/341

[2020-03-11 15:48] Bjwebb commented on #341
![](https://github.trello.services/images/mini-trello-icon.png) [Create metatab when running flatten-tool create-template](https://trello.com/c/kkewnYvf/42-create-metatab-when-running-flatten-tool-create-template)

[2020-04-01 17:39] Bjwebb opened #342 ".ods Last Modified column does not convert correctly"
The best example I can find of this is the Wiltshire Community Foundation spreadsheets from http://data.threesixtygiving.org/
Download one of these as xlsx, and use Libre Office to convert it to an .ods

The xlsx passes validation: https://dataquality.threesixtygiving.org/data/b647b3df-ff14-4d83-9080-25631a829df5
The .ods does not: https://dataquality.threesixtygiving.org/data/bb4587f4-f6c2-45ed-8

[2020-04-01 17:40] Bjwebb commented on #342
![](https://github.trello.services/images/mini-trello-icon.png) [.ods Last Modified column does not convert correctly](https://trello.com/c/VsQ9vYgJ/44-ods-last-modified-column-does-not-convert-correctly)

[2020-04-01 17:42] Bjwebb opened #343 "Numbers formatted with commas in .ods files break the conversion"
e.g. Quixote Foundation spreadsheets from http://data.threesixtygiving.org/ converted to .ods in LibreOffice

https://dataquality.threesixtygiving.org/data/8bb8b710-7e07-4ddd-9c68-4651294af815

[2020-04-02 08:49] robredpath commented on #342
Is it possible to fix this at source - ie, for the user in LibreOffice?

[2020-04-02 08:55] Bjwebb commented on #342
In the libreoffice UI, it appears to be a datetime.

[2020-04-02 11:30] Bjwebb commented on #343
![](https://github.trello.services/images/mini-trello-icon.png) [.ods formatted numbers bug](https://trello.com/c/7kSacVa2/39-ods-formatted-numbers-bug)

[2020-04-06 18:04] michaelwood opened #345 "Duplicate heading handling"
It would be nice if the behaviour of unflatten when coming across duplicate headings automatically treated it as an array so that you don't have to explicitly number the headers. e.g. dog/owner/0 dog/owner/1 dog/owner/2  **vs** dog/owner , dog/owner, dog/owner  .

My actual use case is where I have some data which has some headings that I want to keep but just put in an array.

[code]

[2020-04-07 09:00] robredpath commented on #343
[code]

[2020-04-09 14:06] odscjames opened #346 "Tests: test_json_loader_local_refs_disabled_is_ref_local_true defined twice in flattentool/tests/test_schema_parser.py"
Function test_json_loader_local_refs_disabled_is_ref_local_true defined twice in flattentool/tests/test_schema_parser.py

Found by flake8

[2020-04-09 14:07] odscjames opened #347 "Bug? Undefined Variables flattentool/input.py:1071"
[code]

id_name and xml are undefined.

Found by flake8

[2020-04-09 14:08] odscjames opened #348 "Test: test_convert_type creates a SpreadsheetInput then never uses it"
Why - is the test missing something?

Found by flake8

[2020-05-13 07:36] robredpath commented on #329
Hey @romifz - sorry, I only spotted this when looking at issues for something else. Could you tell us a bit about the use case for this option? I can think of a few things it might be useful for, but I'd like to know your specific use case.

Thanks!

[2020-05-13 22:18] romifz commented on #329
Hi Rob! I've added this issue after we recommended using the flatten-tool to the Ministry of Finance in Guatemala to generate OCDS JSON data. In the CSV sample files they've sent, they used semicolons as separators, so I had to tell them that the tool does not accept that. I recommended to switch to comma separators and to quote any text that may generate conflicts.

We haven't had any contact wit

[2020-05-15 14:25] ajparsons opened #351 "Boolean values do not round-trip through Xlsx"
Something I ran into trying to round-trip BODS data was that if the JSON originally had a boolean value, putting this into and then out of XLSX converted it to a string (true > 'true'). It looks good in the XLSX, so I think this is happening when it is converted back.

[2020-05-20 13:59] sentry-io[bot] opened #352 "Exception when headers are numbers"
Sentry Issue: [COVE-FG](https://sentry.io/organizations/open-data-services/issues/1633248743/?referrer=github_integration)

[code]

[2020-05-20 14:16] Bjwebb commented on #352
![](https://github.trello.services/images/mini-trello-icon.png) [cove error: 'float' object has no attribute 'startswith'](https://trello.com/c/xDAeAvjW/72-cove-error-float-object-has-no-attribute-startswith)

[2020-05-20 14:31] sentry-io[bot] opened #353 "unclear error: There is an object or list at 'amountAwarded' but it should be an number"
Sentry Issue: [COVE-FD](https://sentry.io/organizations/open-data-services/issues/1630271509/?referrer=github_integration)

[code]

[2020-05-20 14:32] Bjwebb commented on #353
![](https://github.trello.services/images/mini-trello-icon.png) [unclear error: There is an object or list at 'amountAwarded' but it should be an number](https://trello.com/c/lMWrRMhF/74-unclear-error-there-is-an-object-or-list-at-amountawarded-but-it-should-be-an-number)

[2020-05-20 14:36] Bjwebb commented on #353
This happens when someone puts extra path elements in a header, after something that should be a value.

For 360Giving, this happens when someone puts an extra colon where there shouldn't be: e.g. "Amount Awarded: website format", when only "Amount Awarded" is permitted (replacing the colon with another character e.g. a dash fixes this).

[2020-06-22 23:19] duncandewhurst opened #354 "Add support for arrays of strings / plain lists"
As noted in the [docs](https://flatten-tool.readthedocs.io/en/latest/unflatten/#plain-lists-unsupported), arrays of strings (plain lists) are not supported.

Adding support for these would be useful for collecting OCDS data in a spreadsheet, in particular for populating `parties/roles` field from multiple sheets.

**Example: Tenderer details entered in one sheet and suppliers details in another**

[2020-06-25 15:23] Bjwebb commented on #354
This should be possible. But, without properly getting my head stuck back into the code, its hard for me to estimate how much work this would be.

[2020-06-25 15:29] Bjwebb commented on #354
![](https://github.trello.services/images/mini-trello-icon.png) [Add support for arrays of strings / plain lists](https://trello.com/c/0c1PM0pe/84-add-support-for-arrays-of-strings-plain-lists)

[2020-07-28 09:55] robredpath commented on #307
![](https://github.trello.services/images/mini-trello-icon.png) [Flatten Tool: Support translation of sheet names](https://trello.com/c/m5zFMCSy/233-flatten-tool-support-translation-of-sheet-names)

[2020-07-28 09:56] robredpath commented on #306
![](https://github.trello.services/images/mini-trello-icon.png) [Flatten Tool: Support translation of sheet names](https://trello.com/c/m5zFMCSy/233-flatten-tool-support-translation-of-sheet-names)

[2020-07-28 10:12] Bjwebb commented on #306
Here's where we define `sub_sheet_name` which become the sheet name or CSV filename: https://github.com/OpenDataServices/flatten-tool/blob/5a9a25f91a84a84c9c9e72381900a20679c3d9a3/flattentool/schema.py#L289

[2020-08-06 17:34] yolile commented on #354
@duncandewhurst actually, I think that this is already supported, you should use ";" as separator and the --schema argument

[2020-08-06 17:37] yolile commented on #306
this should also apply for filenames when generating CSV files

[2020-08-06 17:49] yolile opened #355 "--use-titles does'nt work with OCDS records"
If you use the --use-titles option with OCDS records, all the columns, but the ocid, remains as paths not as Titles.

[2020-08-06 21:36] duncandewhurst commented on #354
Does that work for merging cells from separate sheets into the same string array?

[2020-08-07 12:31] Bjwebb commented on #354
@duncandewhurst No, I don't think so.

[2020-08-12 01:23] #252 closed

[2020-08-12 01:26] jpmckinney commented on #253
https://flatten-tool.readthedocs.io/en/latest/examples/#arrays-within-arrays is still incomplete, but closing as this is no longer an issue for me (feel free to re-open a new issue).

[2020-08-12 01:26] #253 closed

[2020-08-12 01:27] jpmckinney commented on #254
Closing as this is no longer an issue for me (feel free to re-open a new issue).

[2020-08-12 01:27] #254 closed

[2020-08-12 01:28] jpmckinney commented on #261
Closing as this is no longer an issue for me (feel free to re-open a new issue).

[2020-08-12 01:28] #261 closed

[2020-08-12 01:29] jpmckinney commented on #262
Closing as this is no longer an issue for me (feel free to re-open a new issue).

FWIW, I think it's best to have `--xlsx <filename>` and `--csv <directory>`, that way users have full control over each individually, and it avoids the above issues.

[2020-08-12 01:29] #262 closed

[2020-08-12 01:29] jpmckinney commented on #264
Closing as this is no longer an issue for me (feel free to re-open a new issue).

[2020-08-12 01:29] #264 closed

[2020-08-12 01:29] jpmckinney commented on #265
Closing as this is no longer an issue for me (feel free to re-open a new issue).

[2020-08-12 01:29] #265 closed

[2020-08-12 01:30] jpmckinney commented on #266
Closing as this is no longer an issue for me (feel free to re-open a new issue).

[2020-08-12 01:30] #266 closed

[2020-08-12 01:30] jpmckinney commented on #273
Closing as this is no longer an issue for me (feel free to re-open a new issue).

[2020-08-12 01:30] #273 closed

[2020-08-12 01:36] jpmckinney commented on #290
Closing as this is no longer an issue for me (feel free to re-open a new issue).

[2020-08-12 01:36] #290 closed

[2020-08-12 01:37] jpmckinney commented on #291
Closing as this is no longer an issue for me (feel free to re-open a new issue).

[2020-08-12 01:37] #291 closed

[2020-08-12 01:41] jpmckinney commented on #292
Closing as this is no longer an issue for me (feel free to re-open a new issue).

[2020-08-12 01:41] #292 closed

[2020-08-12 01:52] jpmckinney commented on #297
Closing as this is no longer an issue for me (feel free to re-open a new issue).

[2020-08-12 01:52] #297 closed

[2020-08-12 02:12] jpmckinney commented on #315
I think the tool should just follow the same order as the JSON Schema.

And if a user wants a different order, they can either do so in a post-processing step, or by changing the schema. I'm not sure that fine-grained control of column ordering is necessary.

[2020-08-12 02:13] jpmckinney commented on #316
Closing as this is no longer an issue for me (feel free to re-open a new issue). Will be fixed in a new OCDS-specific tool.

[2020-08-12 02:18] jpmckinney commented on #321
Closing as this is no longer an issue for me (feel free to re-open a new issue).

[2020-08-12 02:18] #321 closed

[2020-08-12 02:20] jpmckinney commented on #327
Closing as this is no longer an issue for me (feel free to re-open a new issue).

[2020-08-12 02:20] #327 closed

[2020-08-12 02:26] jpmckinney commented on #329
You can reformat the CSV with a tool like csvformat from csvkit: https://csvkit.readthedocs.io/en/latest/scripts/csvformat.html

I think it's too much to make flatten-tool do everything. It's better if it focuses on the JSON-to-CSV conversion.

[2020-08-12 02:33] jpmckinney commented on #337
Closing as this is no longer an issue for me (feel free to re-open a new issue).

[2020-08-12 02:33] #337 closed

[2020-08-12 02:36] jpmckinney commented on #345
Isn't there a risk of a user accidentally having a duplicate heading, in which case the tool will silently put the values into an array, rather than warn/error about the duplicate heading? In my experience with user-created spreadsheets (especially wide spreadsheets), accidental duplicates are common.

[2020-08-12 02:43] jpmckinney commented on #351
@ajparsons I'm curious about your use case for round-tripping? In my experience, publishers might prepare data in tabular format, then convert to JSON; or users might download JSON data, then convert to CSV. I haven't actually heard a real use case for round-tripping (except some internal development needs), so I'm curious to hear more.

[2020-08-12 02:46] jpmckinney commented on #355
What if you set `--root-list-path` to the compiled release (or the releases array), and then supply the release-schema as the schema? In any case, what is the command you are running?

[2020-08-12 02:48] jpmckinney commented on #354
@duncandewhurst As a workaround, could you have a parties sheet, and then the other sheets have a dropdown from which users can select one of the parties? This is probably better anyway, to avoid conflicting data across sheets.

[2020-08-12 17:02] michaelwood commented on #345
Yeah good idea, maybe a warning such as "Warning: Duplicate headings detected. Ignoring all but the first instance. Use --duplicate-headings-as-array to treat these as an array"

I am struggling to remember my full use case now but I think it was: web form check boxes -> spreadsheet -> flatten-tool -> JSON

[2020-08-12 18:56] jpmckinney commented on #345
I am also thinking this only works for top-level fields with literal values. If a sheet has 10 pairs of parties/id and parties/name, it could become really confusing (or hard to program) how to combine the fields into objects (imagine only the third pair has an additional parties/roles column).

[2020-08-19 16:07] Bjwebb opened #357 "Handle "format": "date" in the schema"
We want this for BODS: https://github.com/openownership/cove-bods/issues/35#issuecomment-675546551

`date` format is no in the BODS schema v4 spec, which we mostly use, but is in later versions. It doesn't interfere with anything else, so there's no harm in specific support for this.

[2020-08-20 15:18] Bjwebb commented on #306
How does this look? [sample_data_es.xlsx](https://github.com/OpenDataServices/flatten-tool/files/5103929/sample_data_es.xlsx)
(based on converting the sample-data fictional-example)

[2020-09-03 15:40] Bjwebb commented on #306
@jpmckinney Could you check that spreadsheet looks as you'd expect?

The implementation code here was fairly quick to write, but there's lots to update in the tests.

[2020-09-04 18:37] jpmckinney commented on #306
Looks good, thanks!

[2020-09-09 15:38] Bjwebb commented on #306
This is now the default behaviour of `--use-titles`, as I think its reasonable to expect `--use-titles` to use titles in the sheet names, as well as everywhere else.

This work is now merged, and released onto PyPI. Its not yet in CoVE, as I understand this is primarily an issue about CLI usage, but will be added soon along with another change that is in progress.

[2020-09-11 17:49] Bjwebb commented on #354
I've taken a look into this, and I think it could be done in 2-3 days of my time.

[2020-09-15 04:14] duncandewhurst commented on #354
Thanks for the estimate @Bjwebb

Yes, but this was in the context of minimizing the number of sheets required to enter data to keep the template simple to understand and use.

[2020-09-17 18:09] yolile commented on #306
I was using this with Colombia data and it fails without further output if a field is not defined in the schema:
![image](https://user-images.githubusercontent.com/6834122/93509500-d1dbc500-f8ed-11ea-886e-278d829a594a.png)

example data to test: https://apiocds.colombiacompra.gov.co:8443/apiCCE2.0/rest/releases/page/2020?page=1

[2020-09-18 14:25] Bjwebb commented on #306
Thanks, I'm able to reproduce this.

I'm off for the next week, so won't be able to look at this until a week on Monday. The old behaviour is possible by getting an old release off git or PyPI.

[2020-09-18 14:26] Bjwebb commented on #306
![](https://github.trello.services/images/mini-trello-icon.png) [Fix my recent use titles for sheet names work](https://trello.com/c/2hxuJ3mU/261-fix-my-recent-use-titles-for-sheet-names-work)

[2020-09-28 17:14] Bjwebb commented on #306
I've fixed this in a PR https://github.com/OpenDataServices/flatten-tool/pull/361, @yolile if you want you can pull that branch to test it. That example data works for me now.

The fix should make its way into a release over the next couple of days.

[2020-09-29 11:54] Bjwebb commented on #306
The fix is in the latest PyPI release now.

[2020-09-29 11:54] #306 closed

[2020-10-07 00:56] duncandewhurst commented on #316
Reopening as this is causing issues where CoVE is integrated into the OC4IDS DRT.

See https://github.com/open-contracting/cove-oc4ids/issues/74 and https://github.com/open-contracting/cove-oc4ids/commit/686643f0e357a10f03b9c33e553d4eca924c7de2

[2020-10-08 09:20] Bjwebb commented on #316
I would be interested in looking into this. I don't think I'm likely to get chance as part of the current OC4IDS work, but it could be something for the next OCDS Dev sprint?

[2020-10-08 15:59] jpmckinney commented on #316
For OCDS, our plan is to build an OCDS-specific flattening tool. Once that's ready, we can consider using it in the Data Review Tools.

Rob mentioned ODS might spend some time independently improving its tools. If that yields a clear plan for reducing Flatten Tool's memory usage, OCP can also consider that for dev work.

[2020-10-20 17:51] aguilerapy opened #363 "Dependencies with Django"
https://github.com/OpenDataServices/flatten-tool/blob/2667a7ae5caf5fb1976b7964f03e0d16be37459a/flattentool/i18n.py#L9

This new file imports `django`, but dependencies and requirements were not updated causing this error when importing `flatten-tool`:

![imagen](https://user-images.githubusercontent.com/48607824/96624431-1d193700-12e3-11eb-96f9-69dd5f265f3c.png)

[2020-10-21 13:33] Bjwebb commented on #363
The django import should be optional, but it looks like there's another error when we try to catch the ImportError. This should be fixed in the latest version 0.15.1

[2020-10-21 13:33] #363 closed

[2020-10-30 14:32] yolile commented on #185
@odscjames I just test the --no-deprecated-fields option with:

`flatten-tool create-template -s https://standard.open-contracting.org/schema/1__1__5/release-schema.json -r ocid -m releases -o template --no-deprecated-fields`

and it is not working (eg the columns buyer/identifier/id etc still appears in the output files)

[2020-11-11 11:40] odscjames opened #370 "RequestsDependencyWarning: urllib3 (1.26.0) or chardet (3.0.4) doesn't match a supported version! RequestsDependencyWarning)"
Tests fail with this.

https://github.com/psf/requests/blob/c7e0fc087ceeadb8b4c84a0953a422c474093d6d/setup.py (``2.23.0``) requires ``urllib3>=1.21.1,<1.26,!=1.25.0,!=1.25.1`` but we get ``urllib3==1.26.0``

[2020-11-11 11:46] odscjames commented on #370
This will be solved tomorrow :-) https://github.com/psf/requests/issues/5654#issuecomment-725229935

[2020-11-11 11:57] odscjames opened #371 "RTD build has been failing for 3 weeks"
https://readthedocs.org/projects/flatten-tool/builds/12135869/

It broke somewhere between these 2 commits: https://github.com/OpenDataServices/flatten-tool/compare/0927d6dea45b316701d0acec0f524b28be24c764...2667a7ae5caf5fb1976b7964f03e0d16be37459a

[2020-11-11 13:20] odscjames commented on #371
Fixed my changing from Python 2 to Python 3 in RTD settings. We don't support Python 2 any more anyway.

[2020-11-11 13:20] #371 closed

[2020-11-12 13:58] odscjames commented on #185
@yolile Ok. problem seems to be $ref and deprecate at the same place. I got some failing tests: https://github.com/OpenDataServices/flatten-tool/pull/372

[2020-11-12 14:10] odscjames commented on #185
@yolile Ok, see pull request

[2020-11-12 14:17] odscjames commented on #370
Now fine

[2020-11-12 14:17] #370 closed

[2020-11-13 14:51] odscjames commented on #185
@yolile Merged to main branch.

[2020-11-13 15:09] yolile commented on #185
thank you @odscjames !

[2020-11-26 15:09] odscjames commented on #341
@Bjwebb There is a branch for this, "341-create-template-metatab", is this still relevant? If so maybe make a pull request so it can be tracked?

[2020-11-26 15:10] #64 closed

[2020-11-26 15:11] odscjames commented on #178
@Bjwebb Is this still relevant? There is a branch https://github.com/OpenDataServices/flatten-tool/tree/178-multilingual-narratives-flatten - if so maybe make a pull request for that so it can be tracked?

[2020-12-14 08:56] robredpath opened #375 "Can you use flatten-tool to operate on Python dicts instead of reading in a JSON file?"
I had a look through the docs but couldn't seen anything about using flatten-tool in this way. But, I know that it *can* be used as a library, because we do that in CoVE.

@drkane asked me, and I said I'd look into it!

[2020-12-15 13:24] Bjwebb commented on #375
It can be used a library, but I'm not sure we've actually got docs of that!

What I'd consider the public API (what CoVE uses, and which is basically the same as the CLI) [doesn't support this](https://github.com/OpenDataServices/flatten-tool/blob/83a4ef21b7a4a482b659e9bb10761cbdd7729f6c/flattentool/__init__.py#L70-L91), but the [underlying code does](https://github.com/OpenDataServices/flatten-to

[2021-01-26 12:33] drkane commented on #316
Might not be the right place for this, but I wonder if the [tree](https://tree.readthedocs.io/en/latest/index.html) library might have some useful functions. eg: https://tree.readthedocs.io/en/latest/api.html#tree.flatten_with_path

Seems to be designed with speed/performance in mind.

[2021-01-26 17:45] jpmckinney commented on #316
Interesting find! Our implementations of similar methods follow the same design as in that library, and ours might actually be faster because that library is designed to handle more inputs and therefore has more method calls e.g. `_yield_sorted_items` whereas we just perform the loop within the same method, and don't sort unless the use case requires it.

The library does other interesting things

[2021-02-17 10:32] sentry-io[bot] opened #378 "An .ods with filled cells in a column with no heading will fail"
Sentry Issue: [COVE-GX](https://sentry.io/organizations/open-data-services/issues/2215148634/?referrer=github_integration)

[code]

[2021-02-19 16:31] nativaldezt opened #380 "Wrong columns names for spanish OCDS schema"
When generating the xls template, there are columns that are not with the title that they should, for example, buyer should be as "Comprador" but instead all the data referring to the buyer are with "Referencia de la organización" (en: organization reference):
![image](https://user-images.githubusercontent.com/72802235/108530887-d3525480-72b4-11eb-9240-8ce3ce4df435.png)

Before when it worked well

[2021-02-19 16:40] nativaldezt commented on #380
Actually, it is not a problem with the spanish scheme but with the **--use-titles** option, the same thing happens with the english scheme.

[2021-02-19 16:52] jpmckinney commented on #380
Hmm, this code should have done it. Not sure what caused the regression:

https://github.com/OpenDataServices/flatten-tool/blob/83a4ef21b7a4a482b659e9bb10761cbdd7729f6c/flattentool/schema.py#L255-L261

[2021-02-19 16:52] jpmckinney commented on #380
What version of flatten-tool are you using (according to `pip list`)?

[2021-02-19 17:24] nativaldezt commented on #380
Oh, now I realize that I am on the _master_ branch and it must be the _main_ branch, right?
If the _master_ branch doesn't even exist, how is it that I was in it?
I changed to _main_ and it generated the template well, sorry, it was just that, sad :(

[2021-02-19 17:42] nativaldezt commented on #380
So, James, I just move to another directory and create a new virtualenv, I did:
pip install flattentool
pip install ocdskit
flatten-tool create-template --use-titles -s  https://standard.open-contracting.org/latest/es/release-schema.json -r ocid -m releases --no-deprecated-fields
and it generated the template with the wrong column names...

[2021-02-19 17:44] nativaldezt commented on #380
pip list
![image](https://user-images.githubusercontent.com/72802235/108541170-e79c4e80-72c0-11eb-88b8-ffd7c740fab6.png)

[2021-02-19 18:49] jpmckinney commented on #380
Oh, ha, it's because I fixed it in an unreleased version (#368 was merged in #369): https://github.com/OpenDataServices/flatten-tool/blob/main/CHANGELOG.md#unreleased

So, you'll need to install from GitHub:

[code]

OpenDataServices changed all their "master" branches to "main" (reasons here https://github.com/github/renaming/). OCP will do the same (https://github.com/open-contracting/standard-m

[2021-02-19 18:49] jpmckinney commented on #380
@Bjwebb Can you make a release of flatten-tool?

[2021-02-23 16:43] Bjwebb commented on #380
0.15.3 released https://pypi.org/project/flattentool/#history

[2021-02-23 16:43] #380 closed

[2021-03-12 12:51] #342 closed

[2021-04-21 19:35] poulson opened #384 "Unflatten is sliently dropping all but last index of supplier array from UK government procurement CSVs"
[2021.04.20.csv](https://github.com/OpenDataServices/flatten-tool/files/6353422/2021.04.20.csv)

Despite the clear existence of 31 separate suppliers (including Palantir Technologies)  in this single-row input CSV (extracted from yesterday's export of UK government procurement contracts), unflatten is only preserving the last supplier (Workday).

I have been unflattening using a command of the for

[2021-04-21 20:04] jpmckinney commented on #384
I believe the issue is that the UK assigns the same `id` to all awards, which the unflatten routine ends up merging into a single row. I believe the command outputs a warning about this, but I could be wrong.

I think if you delete the `id` values, then the command will work as expected.

[2021-04-21 20:08] poulson commented on #384
When run from the commandline I don't see any warnings, but I will indeed look into preprocessing out the `id` values and appreciate the tip.

[2021-04-21 21:13] poulson commented on #384
FWIW, I have confirmed that dropping the `suppliers/id` columns before unflattening fixes the problem. I agree that one would hope a warning would have been printed about this and appreciate the help.

[2021-04-23 16:43] #343 closed

[2021-04-23 16:50] Bjwebb commented on #378
There's a new Sentry issue for each column number:
e.g. I've just made a new issue for 1 ([COVE-H3](https://sentry.io/organizations/open-data-services/issues/2358892463/?referrer=github_integration)), with this [minimal example sheet](https://drive.google.com/file/d/16p4357Ocz-rGCD5ReWOa1dBc0QqJrGpS/view?usp=sharing).

[2021-04-23 16:51] Bjwebb commented on #115
We now have .ods support.

[2021-04-23 16:51] #115 closed

[2021-04-26 06:14] robredpath commented on #115
🎉

[2021-04-28 11:27] #378 closed

[2021-08-20 14:28] odscjames opened #387 "Flatten putting all list of list items in same object?"
**Setup**

Start with a Schema:
[code]
Run:

    flatten-tool create-template --main-sheet-name=homes --schema schema.json --rollup   -f csv -o testoutput

Look in testoutput.

We have a "homes.csv", and we are assuming that every home only has 1 cat (odd assumption but I'm simplifying from an more complex case so go with it)

We have a "cat_good_quantities.csv" - this is a separate child spreadsh

[2021-08-24 14:18] michaelwood opened #388 "openpyxl 3.0.6 errors"
We are seeing this exception: https://github.com/ThreeSixtyGiving/Insights/issues/168 from openpyxl 3.0.6. Downgrading it "fixes" the issue.

I note that we have `'openpyxl>=2.6,!=3.0.2'` in setup.py . Perhaps that should be fixed version or `'openpyxl>=2.6,!>3.0.2' ` ?

[2021-11-02 17:11] odscjames opened #390 "Add Python 3.10 & 3.11 to CI"
We get a test failure when I try: https://github.com/OpenDataServices/flatten-tool/runs/4083178157?check_suite_focus=true

[2021-11-02 17:18] odscjames commented on #390
The help file output is different in 3.9 :-/

[code]

[2021-11-05 09:47] odscjames commented on #390
I think pretty easy actually, _get_examples_in_docs_data() function lists the tests to run and we can put a special case in there to not list it. We already have one special case in their for xlsx.

[2021-11-24 13:59] odscjames opened #392 "Non breaking space (NBSP) in spreadsheet headers"
We have seen cases where Excel spreadsheets have header columns like:

    Recipient Org:Location:Name

Where the space there is actually a non breaking space (NBSP).

When using flattentool by passing an Excel spreadsheet and a schema this causes issues. In the schema the name "Recipient Org" has a normal space, and so flattentool doesn't recognise that header as being one of the core fields in t

[2021-11-25 12:14] odscjames commented on #392
Can we just search and replace "NBSP" to " " [ a real space ] before looking up column titles in the schema?

Maybe in both:
* the title being looked up?
* the titles in the schema (in case someone ever uses a NBSP in a schema title?)

Is there any case where someone might actually deliberately be using the difference between NBSP's and real spaces in schema field titles as an important thing?

(I

[2021-11-25 14:21] robredpath commented on #392
Do we have any theories as to how an NBSP got in there in the first place?

I've checked the [360 standard](https://standard.threesixtygiving.org/en/latest/reference/#spreadsheet-format) and the spaces in the table there are real spaces, so it's not a copy-paste error there. I tried emailing it, and (at least our email) doesn't make it an NBSP even though it's an HTML email.

Was there a ```Recipi

[2022-03-07 14:54] vlasvlasvlas commented on #329
this could be handy when dealing when you have issues from data source generation (for example ministry IT crowd where you cant negotiate csv output formats)

[2022-04-06 18:59] jpmckinney opened #394 "Add wheel distribution"
https://pypi.org/project/flattentool/#files

[2022-04-12 09:52] Bjwebb commented on #394
Yes, we can add this.

Out of interest, what's the main motivation for this?

[2022-04-12 15:17] jpmckinney commented on #394
Wheels allows faster installs in CI, deploy, etc.

[2022-08-03 16:28] Bjwebb commented on #394
Wheel now uploaded.

[2022-08-03 16:28] #394 closed

[2022-08-09 00:44] duncandewhurst opened #398 "Flattening a list of lists"
I'm trying to flatten this [file](https://gist.github.com/duncandewhurst/8b901036e8c0b261246b06dbfc904ed8) using the following command: `flatten-tool flatten -f xlsx example.json`. However, the resulting xlsx file is empty.

Flattening the nodes list with `flatten-tool flatten -f xlsx --root-list-path nodes example.json` works OK. However, flattening the links list with `flatten-tool flatten -f xl

[2022-08-23 20:25] Bjwebb commented on #398
Yes, it looks like we lack support for flattening of lists of lists. Here's a TODO in the code https://github.com/OpenDataServices/flatten-tool/blob/main/flattentool/json_input.py#L422 !

It should be fairly easy to implement this, to produce a cell with the contents `26.081,-24.406;26.081,-24.406`. @duncandewhurst is that what you expect?

[2022-08-23 20:49] duncandewhurst commented on #398
Thanks, @Bjwebb. I was expecting something like `[26.081;-24.405]; [26.09; -24.416]` but your suggestion looks easier to work with.

We've yet to decide whether we're going to use Flatten Tool for Open Fibre (see https://github.com/Open-Telecoms-Data/open-fibre-data-standard/issues/14) so no need to implement this yet.

[2022-08-24 08:22] Bjwebb commented on #398
For info, my suggestion is based on what we already support for unflattening (which I think requires a schema).

[2022-09-12 08:47] duncandewhurst commented on #398
@Bjwebb we've decided to use Flatten Tool for the Open Fibre alpha, would you have time to implement this before you go on leave?

[2022-09-13 05:32] duncandewhurst opened #399 "Support for streaming/standard input"
We're using Flatten Tool for flattening in OFDS, which offers JSON Lines as a format for large files.

As far as I can see, currently Flatten Tool only supports file input, so users would need to segment/repackage data published using JSON Lines in order to pass it to Flatten Tool, and would then need to recombine the output afterwards.

How much work would it be for Flatten Tool to support stream

[2022-09-14 10:08] Bjwebb commented on #399
This should be fairly straightforward, as we just iterate through the JSON file, we don't need it all loaded into memory.

[2022-09-26 18:06] Bjwebb commented on #398
I've made a PR for this https://github.com/OpenDataServices/flatten-tool/pull/401

[2022-10-24 22:31] duncandewhurst commented on #398
Closing as the PR is merged.

[2022-10-24 22:31] #398 closed

[2022-10-25 20:23] duncandewhurst opened #402 "Unflatten: Add support for metatab in CSV input format"
From https://flatten-tool.readthedocs.io/en/latest/unflatten/?highlight=meta#metadata-tab:

Can we add support for metatab in the CSV input format?

`--metatab-name` could just be the name of the CSV file containing the metadata.

[2022-10-25 20:30] duncandewhurst commented on #402
Actually, this isn't a problem for OFDS, since the only required field in the network package schema is `networks`. I'll leave the issue open in case the functionality would be useful elsewhere.

[2022-10-28 11:08] odscjames commented on #390
3.9 is now in but we can't add 3.10:

[2022-11-28 23:29] duncandewhurst opened #409 "AttributeError: module 'jsonref' has no attribute 'JsonLoader'"
To reproduce, follow the [installation instructions](https://flatten-tool.readthedocs.io/en/latest/getting-started/#installation) then run `flatten-tool`.

Traceback:

[code]

I think it's due to this issue: https://github.com/gazpachoking/jsonref/issues/45#issuecomment-1295312114

[2022-11-28 23:37] duncandewhurst commented on #409
A quick fix would be to require jsonref<1, however that is incompatible with [JSCC](https://jscc.readthedocs.io/en/latest/index.html), which requires jsonref>=1.

[2022-11-28 23:47] duncandewhurst commented on #409
Ignore me, looks like the quick fix was done in https://github.com/OpenDataServices/flatten-tool/releases/tag/v0.18.1 and I somehow didn't have the latest version.

[2022-11-28 23:47] #409 closed

[2022-11-29 01:29] jpmckinney commented on #409
And there's a better fix in 0.19 that allows any version of jsonref ;)